.imageBackToSchool {
  background-image: url("../../../assets/back-to-school-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* Background image is fixed in the viewport so that it doesn't move when 
    the content's height is greater than the image's height */
  background-attachment: fixed;
  padding-top: 100px;
  height: 85vh;
}

.loginBackground {
  height: 260px;
}

