.imageBackToSchool {
  background-image: url("../../../assets/back-to-school-wallpaper.jpg");
/*  max-width: 1000px;
  max-height: 1000px; */
  background-size: cover;
  background-repeat: no-repeat;
/*  background-position: 50% 50%; */

background-position: center center;

/* Background image is fixed in the viewport so that it doesn't move when 
   the content's height is greater than the image's height */
background-attachment: fixed;
padding: 100px;
}

.loginBackground {
  padding: 25px;
}

