<nz-page-header [nzGhost]="false">
  <nz-page-header-title>SIAPCE</nz-page-header-title>
  <nz-page-header-extra>Inicio de Sesión</nz-page-header-extra>
</nz-page-header>

<div nz-row class="imageBackToSchool">
  <nz-card class="loginBackground" nz-col [nzXs]="{ span: 22, offset: 1 }" [nzSm]="{ span: 20, offset: 2 }"
    [nzMd]="{ span: 20, offset: 2 }" [nzLg]="{ span: 16, offset: 4 }" [nzXl]="{ span: 10, offset: 7 }">

    <nz-alert *ngIf="errorMessage" nzType="warning" nzMessage="Usuario o contraseña incorrecta" nzShowIcon></nz-alert>
    <br>
    <form nz-form class=" login-form" [formGroup]="userLogin" (submit)="onlogin()">
      <nz-form-item>
        <nz-input-group nzPrefixIcon="user">
          <input type="email" nz-input placeholder="Nombre de usuario" formControlName="username" />
        </nz-input-group>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input placeholder="Contraseña" formControlName="password" />
        </nz-input-group>
      </nz-form-item>
      <div nz-row>
        <a class="login-form-forgot" routerLink="/contrasena/recuperar">¿Olvidaste tu contraseña?</a>
      </div>
      <button nz-button class="login-form-button login-form-margin" [nzLoading]="btnLoading" [nzType]="'primary'">
        Ingresar
      </button>
    </form>
  </nz-card>
</div>