<div nz-row nzJustify="space-between">
    <div nz-col>
        <h1>Nueva entrevista con docente</h1>
    </div>
</div>

<app-students-details [id]="studentId"></app-students-details>

<form nz-form nzLayout="vertical" [formGroup]="sessionForm" (ngSubmit)="submitForm($event)">

    <div nz-row nzJustify="center" [nzGutter]="10">

        <!-- Date, duration, serviceType -->
        <div nz-col nzXs="24" nzLg="9" nzXl="8">
            <div nz-row>

                <!-- Date -->
                <div nz-col nzXs="24">
                    <nz-form-item>
                        <nz-form-label><strong>Fecha</strong></nz-form-label>
                        <nz-form-control [nzErrorTip]="dateErrors">
                            <nz-date-picker formControlName="date" [nzShowTime]="{nzHideDisabledOptions: true, nzFormat: 'HH:mm'}"
                                nzFormat="dd/MM/yyyy HH:mm" [nzDisabledDate]="disabledDate" nzPlaceHolder="Seleccionar"
                            >
                            </nz-date-picker>
                            <ng-template #dateErrors let-control>
                                <ng-container *ngIf="control.hasError('required')">La fecha es requerida<br></ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!-- Duration -->
                <div nz-col nzXs="24">
                    <nz-form-item>
                        <nz-form-label><strong>Duración</strong></nz-form-label>
                        <nz-form-control [nzErrorTip]="durationErrors">
                            <nz-input-number formControlName="duration" [nzMin]="15" [nzMax]="240" [nzStep]="15"
                                [nzFormatter]="durationFormatter" [nzParser]="durationParser" nzPlaceHolder="Seleccionar"
                            ></nz-input-number>
                            <ng-template #durationErrors let-control>
                                <ng-container *ngIf="control.hasError('required')">La duración es requerida<br></ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!-- Service Type -->
                <div nz-col nzXs="24">
                    <nz-form-item>
                        <nz-form-label><strong>Tipo de servicio</strong></nz-form-label>
                        <nz-form-control [nzErrorTip]="serviceTypeErrors">
                            
                            <nz-select nzAllowClear nzPlaceHolder="Seleccionar" formControlName="serviceType">
                                <nz-option *ngFor="let type of serviceTypes" [nzValue]="type" [nzLabel]="type">
                                </nz-option>
                            </nz-select>

                            <ng-template #serviceTypeErrors let-control>
                                <ng-container *ngIf="control.hasError('required')">El tipo de servicio es requerido<br></ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>

            </div>
        </div>

        <!-- Participants and evaluations -->
        <div nz-col nzXs="24" [nzLg]="{span: 9, offset: 2}" [nzXl]="{span: 8, offset: 4}">
            <div nz-row [nzGutter]="10">

                <!-- Participants -->
                <div nz-col nzXs="24">
                    <nz-form-item>
                        <nz-form-label><strong>Participantes</strong></nz-form-label>
                        <nz-form-control
                            [nzValidateStatus]="participantsControl.dirty && !participantsControl.valid ? 'error' : 'success'"
                            nzErrorTip="Debe seleccionar por lo menos un participante"
                        >
            
                        
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!-- Evaluations -->
                <div nz-col nzXs="24">
                    <nz-form-item>
                        <nz-form-label><strong>Evaluaciones</strong></nz-form-label>
                        <nz-form-control [nzErrorTip]="evaluationsErrors">
                            
                            <ng-template #evaluationsErrors let-control>
                                <ng-container *ngIf="control.hasError('required')">Las evaluaciones son requeridas<br></ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>

            </div>
        </div>

        <!-- Comments -->
        <div nz-col nzXs="24" nzLg="20">
            <nz-form-item>
                <nz-form-label><strong>Comentarios de la sesión</strong></nz-form-label>
                <nz-form-control [nzErrorTip]="commentErrors">
                    <ckeditor formControlName="comments" [editor]="editor" [config]="editorConfig"></ckeditor>
                    <ng-template #commentErrors let-control>
                        <ng-container *ngIf="control.hasError('required')">El comentario es requerido<br></ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <!-- Actions -->
    <div nz-row nzJustify="center" [nzGutter]="40">
        <div nz-col>
            <button id="draft" nz-button nzType="default" [nzLoading]="actionLoading">
                Guardar borrador
            </button>
        </div>    
        <div nz-col>
            <button id="no-draft" nz-button nzType="primary" [nzLoading]="actionLoading">
                Registrar entrevista
            </button>
        </div>
    </div>
</form>
