<div nz-row [nzGutter]="20">
  <nz-card class="resetPasswordBackground" nz-col  [nzXs]="{ span: 20, offset: 2 }" [nzSm]="{ span: 20, offset: 2 }"
  [nzMd]="{ span: 20, offset: 2 }" [nzLg]="{ span: 8, offset: 8 }">
    <h1>Restablecer contraseña </h1>
    
    <form nz-form [formGroup]="resetPwd" (ngSubmit)="submitForm(resetPwd.value)"> 
      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired>Nueva contraseña</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback  [nzErrorTip]="passwordErrorTpl">
          <input nz-input type="password" formControlName="password"  placeholder="Ingrese su nueva contraseña" (ngModelChange)="validateConfirmPassword()" />
          <ng-template #passwordErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              La contraseña es requerida
            </ng-container>
            <ng-container *ngIf="control.hasError('minLengthPassword')"> 
              La contraseña debe contener {{ length }} caracteres
            </ng-container>
            <ng-container *ngIf="control.hasError('expression')">
              La contraseña no cumple las politicas de seguridad
            </ng-container>
          </ng-template>   
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired>Confirmar contraseña</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
          <input nz-input type="password" formControlName="confirm" placeholder="Ingrese su nueva contraseña" />
          <ng-template #passwordErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Confirmar la contraseña es requerido
            </ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              Contraseña inconsistente
            </ng-container>                  
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      
      <p>La contraseña debe contener: {{availablePolitics}} </p>
      
      <button nz-button [nzType]="'primary'" [nzLoading]="isLoading" (click) = "sendPassword()">
        Guardar Contraseña
      </button>
    </form>
  </nz-card>
</div>