/*
  Path: app/login/components/server-error/server-error.component.css
  Objective: Define the internal server error style
  Author: Esme López 
*/

#server-error {
  text-align: center;
  font-size: 1.8em;
  margin-top: 20px;
}

.messages {
  padding: 10px;
}

img {
  width: 80%;
}
