<h1>Cambiar contraseña </h1>
<div nz-col nzSpan="24">
  <form nz-form [formGroup]="resetPwd" (ngSubmit)="submitForm(resetPwd.value)">
    <div nz-row nzJustify="center">
      <div nz-col nzXs="24" nzSm="20" nzLg="11">
        <nz-form-item>
          <nz-form-label>Contraseña actual</nz-form-label>
          <nz-form-control nzHasFeedback [nzErrorTip]="currentPasswordErrorTpl">
            <input nz-input type="password" formControlName="oldPassword" placeholder="Ingrese su contraseña actual" />
            <ng-template #currentPasswordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')"> La contraseña es requerida </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzJustify="center">
      <div nz-col nzXs="24" nzSm="20" nzLg="11">
        <nz-form-item>
          <nz-form-label>Nueva contraseña</nz-form-label>
          <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
            <input nz-input type="password" formControlName="password" placeholder="Ingrese su nueva contraseña"
                   (ngModelChange)="validateConfirmPassword()" />
            <ng-template #passwordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                La contraseña es requerida
              </ng-container>
              <ng-container *ngIf="control.hasError('minLengthPassword')">
                La contraseña debe contener {{ length }} caracteres.
              </ng-container>
              <ng-container *ngIf="control.hasError('invalidExpression')">
                La contraseña no cumple las politicas de seguridad
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzJustify="center">
      <div nz-col nzXs="24" nzSm="20" nzLg="11">
        <nz-form-item>
          <nz-form-label>Confirmar contraseña</nz-form-label>
          <nz-form-control nzHasFeedback [nzErrorTip]="confirmPasswordErrorTpl">
            <input nz-input type="password" formControlName="confirm" placeholder="Ingrese su nueva contraseña" />
            <ng-template #confirmPasswordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')"> Confirmar la contraseña es requerido </ng-container>
              <ng-container *ngIf="control.hasError('confirm')"> Contraseña inconsistente </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <p nz-row nzJustify="space-around">La contraseña debe contener: {{availablePolitics}} </p>

    <div nz-row nzJustify="space-around">
      <button nz-button [nzType]="'primary'" [nzLoading]="isLoading" (click)="sendPassword()">
        Guardar Contraseña
      </button>
    </div>
  </form>
</div>
