<div class="auth-background-image">
  <div nz-row nzAlign="middle" class="auth-background-color">

    <nz-card class="auth-background" nz-col [nzXs]="{ span: 22, offset: 1 }" [nzSm]="{ span: 16, offset: 4 }"
             [nzMd]="{ span: 10, offset: 7 }" [nzLg]="{ span: 8, offset: 8 }" [nzXl]="{ span: 6, offset: 9 }">
      <div nz-row nzJustify="center">
        <a class="auth-subtitle">Restablecer contraseña</a>
      </div>

      <form class="auth-form" nz-form [formGroup]="resetPwd" (ngSubmit)="submitForm(resetPwd.value)">
        <nz-form-item>
          <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input placeholder="Nueva contraseña" formControlName="password"
                     (ngModelChange)="validateConfirmPassword()"/>
            </nz-input-group>
            <ng-template #passwordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                La contraseña es requerida
              </ng-container>
              <ng-container *ngIf="control.hasError('minLengthPassword')">
                La contraseña debe contener {{ length }} caracteres
              </ng-container>
              <ng-container *ngIf="control.hasError('invalidExpression')">
                La contraseña no cumple las politicas de seguridad
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzHasFeedback [nzErrorTip]="confirmPasswordErrorTpl">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input placeholder="Confirmar contraseña" formControlName="confirm"/>
            </nz-input-group>
            <ng-template #confirmPasswordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                Confirmar la contraseña es requerido
              </ng-container>
              <ng-container *ngIf="control.hasError('confirm')">
                Contraseña inconsistente
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <p class="auth-text">La contraseña debe contener: {{availablePolitics}}</p>

        <button class="auth-form-button" nz-button [nzType]="'primary'" [nzLoading]="isLoading"
                (click)="sendPassword()">
          Guardar Contraseña
        </button>
      </form>
    </nz-card>
  </div>
</div>
