<h1>Periodos</h1>
<div nz-row>
    <div nz-col [nzXs]="{ span: 20, offset: 2 }" [nzSm]="{ span: 20, offset: 2 }"
        [nzMd]="{ span: 20, offset: 2 }" [nzLg]="{ span: 8, offset: 8 }">
        <nz-spin nzTip="Cargando ..." [nzSpinning]="loading">
            <ul nz-list [nzDataSource]="periods" nzBordered nzSize="small">

                <li nz-list-item *ngFor="let item of periods">
                    <nz-list-item-extra *ngIf="item.name === 'Cuarto Periodo'">
                        <span>
                            <nz-switch [ngModel]="item.active" [nzCheckedChildren]="checkedTemplate" [nzControl]="true"
                                (click)="showConfirm(item.id)" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
                            <ng-template #checkedTemplate>Activo</ng-template>
                            <ng-template #unCheckedTemplate>Inactivo</ng-template>
                        </span>
                    </nz-list-item-extra>
                    {{ item.name }}
                </li>

            </ul>
        </nz-spin>
    </div>
</div>