/*
  Path: app/login/components/not-found/not-found.component.css
  Objective: Define the not found error style
  Author: Esme López 
*/

#error404 {
  text-align: center;
  font-size: 1.8em;
  margin-top: 20px;
}

.messages {
  padding: 10px;
}

img {
  max-width: 400px;
}
