.fouls {
  margin-top: 25px;
}

.form {
  padding-bottom: 5%;
  padding-left: 0%;
}

.search {
  padding-top: 30%;
  border-top: 20px;
}

.searchSanction {
  float: right;
  justify-content: flex-end;
}

