<div nz-row nzJustify="space-around">
    <div nz-col nzFlex="auto">
        <h1>Faltas</h1>
    </div>
    <div nz-col nzFlex="110px">
        <a nz-button nzType="primary" *ngIf="checkPermission(26)" (click)="showModal()">Crear falta</a>
    </div>
</div>

<!-- Create cycle modal -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="Crear falta" [nzContent]="modalContent" nzOkText="Guardar"
    nzCancelText="Cancelar" [nzFooter]="modalFooter" (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()">
    <!-- Modal content -->
    <form nz-form [formGroup]="foulForm">
        <ng-template #modalContent>
            <nz-form-item nzJustify="space-between">
                <nz-form-label nzRequired>Numeral</nz-form-label>
                <nz-form-control [nzSpan]="16" [nzErrorTip]="errorTpl">
                    <div nz-row class="form">
                        <input nz-input formControlName="numeral" placeholder="Numeral de la falta" />
                        <ng-template #errorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                El numeral es requerido. <br>
                            </ng-container>
                            <ng-container *ngIf="control.hasError('pattern')">
                                El nombre debe contener solo numeros y puntos. <br>
                            </ng-container>
                            <ng-container *ngIf="control.hasError('maxlength')">
                                El numeral debe contener máximo 8 caracteres.
                            </ng-container>
                        </ng-template>
                    </div>
                </nz-form-control>
                <nz-form-label nzRequired>Tipo de falta</nz-form-label>
                <nz-form-control [nzSpan]="16" [nzErrorTip]="errorTplTwo">
                    <div nz-row class="form">
                        <nz-select formControlName="foulsType" nzPlaceHolder="Seleccionar el tipo de falta">
                            <nz-option nzValue="Leves" nzLabel="Leve"></nz-option>
                            <nz-option nzValue="Graves" nzLabel="Grave"></nz-option>
                            <nz-option nzValue="Muy Graves" nzLabel="Muy Grave"></nz-option>
                        </nz-select>
                        <ng-template #errorTplTwo let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                El tipo de la falta es requerido. <br>
                            </ng-container>
                        </ng-template>
                    </div>
                </nz-form-control>

                <nz-form-label nzRequired>Descripción</nz-form-label>
                <nz-form-control [nzSpan]="16" [nzErrorTip]="errorTplTwo">
                    <div nz-row>
                        <textarea rows="4" nz-input formControlName="description"
                            placeholder="Descripción de la falta"></textarea>
                        <ng-template #errorTplTwo let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                La descripción es requerida. <br>
                            </ng-container>
                            <ng-container *ngIf="control.hasError('maxlength')">
                                El nombre debe contener máximo 256 caracteres.
                            </ng-container>
                        </ng-template>
                    </div>
                </nz-form-control>



            </nz-form-item>
        </ng-template>
    </form>
    <!-- Modal footer -->
    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Guardar</button>
    </ng-template>
</nz-modal>

<!--Foul searcher an create button-->
<div nz-row [nzGutter]="[10, 10]">
    <div nz-col nzSpan="6">
        <label>Numeral: </label>
        <nz-input-group [nzSuffix]="inputClearFoul">
            <input nz-input [(ngModel)]="searchParams.numeral" placeholder="Buscar numeral" />
        </nz-input-group>
        <ng-template #inputClearFoul>
            <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="searchParams.numeral"
                (click)="searchParams.numeral = null; search()"></i>
        </ng-template>
    </div>

    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="6" nzXl="5">
        <label>Tipo de falta: </label>
        <nz-select nzAllowClear nzPlaceHolder="Seleccionar" [(ngModel)]="searchParams.foulsType"
            (ngModelChange)="search()">
            <nz-option nzValue="Leves" nzLabel="Leve"></nz-option>
            <nz-option nzValue="Graves" nzLabel="Grave"></nz-option>
            <nz-option nzValue="Muy Graves" nzLabel="Muy Grave"></nz-option>
        </nz-select>
    </div>
    <div nz-col nzJustify="end">
        <div nz-col>
            <button nz-button nzType="primary" (click)="search()">Buscar</button>
        </div>
    </div>
</div>

<!--Table-->
<div nz-row>
    <div class="fouls" nz-row>
        <div nz-col>
            <nz-spin nzTip="Cargando ..." [nzSpinning]="loading">
                <nz-table #filterTable nzTableLayout="fixed" [nzSize]="tableSize" [nzData]="listOfDisplayData"
                    [nzFrontPagination]="false" [nzTotal]="pagination.totalItems" [nzPageSize]="pagination.perPage"
                    [nzPageIndex]="pagination.page" (nzQueryParams)="getFouls($event)">
                    <thead>
                        <tr>
                            <th nzColumnKey="numeral" [nzSortFn]="true">Numeral</th>
                            <th>Descripción</th>
                            <th>Tipo de falta</th>
                            <th *ngIf="checkPermission(26)" [nzAlign]="'center'">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of filterTable.data">
                            <td>{{ data.numeral }}</td>
                            <td>{{ data.description }}</td>
                            <td>{{ data.foulsType }}</td>
                            <td [nzAlign]="'center'">
                                <span>
                                    <a nz-tooltip *ngIf="checkPermission(26)" nzTooltipTitle="Actualizar">
                                        <i nz-icon nzType="edit" nzTheme="outline" (click)="AllowEditing(data)"></i>
                                    </a>
                                    <nz-divider *ngIf="checkPermission(26)" nzType="vertical"></nz-divider>
                                    <a nz-tooltip nzTooltipTitle="Eliminar" *ngIf="checkPermission(26)"
                                        (click)="showConfirm(data.id, data.numeral, data.description)">
                                        <i nz-icon nzType="delete" nzTheme="outline"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-spin>
        </div>
    </div>
</div>