.error {
  color: #f5222d;
}

.success {
  color: #52c41a;
}

.access-log {
  margin-top: 20px;
}

.btn-container {
  height: 100%;
}

nz-select, nz-range-picker {
  width: 100%;
}

nz-range-picker {
  border-radius: 7px;
}