<p>academic-assignments works!</p>

<div nz-col nzXs="23">
    <nz-table #fixedTable [nzData]="listOfData" nzSize="middle" nzTableLayout="auto">
        <thead>
            <tr>
                <th nzLeft nzWidth="150px" nzAlign="center">Ciclo</th>
                <th nzLeft nzWidth="100px" nzAlign="center">Grado</th>
                <th nzAlign="center" *ngFor="let section of catalogs.sections" [nzWidth]="section.name.length > 1 ? '100px' : '50px'">{{ section.name }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of listOfData">
                <td nzLeft nzAlign="center">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seleccionar" [(ngModel)]="data.cycle.name" (ngModelChange)="updateField($event)">
                        <nz-option *ngFor="let cycle of catalogs.cycles" [nzLabel]="cycle.name" [nzValue]="cycle.name"></nz-option>
                    </nz-select>
                </td>
                <td nzLeft nzAlign="center">{{ data.grade.name }}</td>
                <td nzAlign="center" *ngFor="let section of data.sections">
                    <label nz-checkbox [(ngModel)]="section.active"></label>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>
