<nz-spin nzTip="Cargando ..." [nzSpinning]="loadingStudent">
    <div nz-row [nzGutter]="[20, 10]">

        <!-- Photo and links -->
        <div nz-col nzXs="8">
            <div nz-row nzJustify="center">
                <ng-container *ngIf="student.currentPhoto; else defaultPhoto">
                    <nz-avatar [nzSize]="100" [nzSrc]="student.currentPhoto['path']"></nz-avatar>
                </ng-container>
                <ng-template #defaultPhoto>
                    <nz-avatar [nzSize]="100" nzIcon="user"></nz-avatar>
                </ng-template>
            </div>
            <div nz-row nzJustify="center" class="links">
                <a [routerLink]="['/estudiantes', student.id, 'detalle']">Perfil</a>
            </div>
        </div>
    
        <!-- Student basic data -->
        <div class="student-data" nz-col nzXs="8">
            <p>{{student.firstname}} {{student.lastname}}</p>
            <p>{{student.code}}</p>
            <p>Edad:  <strong>{{student.age}} años</strong></p>
            <p>Grado y sección:  <strong>{{student.grade?.name}} {{student.section?.name || '-'}}</strong></p>
            <p>Ingreso:  <strong>{{student.registrationYear}} ({{student.startedGrade?.name}})</strong></p>
        </div>

        <!-- Student siblings and responsibles -->
        <div class="student-data" nz-col nzXs="8">
            <div *ngIf="student.siblings.length">
                <strong>Hermanos</strong>
                <ul type="square">
                    <li *ngFor="let sibling of student.siblings">{{ sibling.firstname }} {{ sibling.lastname }} ({{ sibling.status }})</li>    
                </ul>
            </div>

            <div *ngIf="student.responsibles.length">
                <strong>Responsables</strong>
                <ul type="square">
                    <li *ngFor="let responsible of student.responsibles">{{ responsible.firstname }} {{ responsible.lastname }} ({{ responsible.relationship }})</li>
                </ul>
            </div>
        </div>

    </div>
</nz-spin>
