<!--  
  Path: app/security-policies/components/security-policies.component.html
  Objective: Define security policies view
  Author: Esme López 
-->

<h1 nz-typography>Políticas de seguridad</h1>

<hr>

<nz-spin nzTip="Cargando ..." [nzSpinning]="loading">
  <div class="policies" nz-row>
    <div nz-col [nzXs]="{ span: 20, offset: 2 }" [nzSm]="{ span: 20, offset: 2 }" [nzMd]="{ span: 20, offset: 2 }"
      [nzLg]="{ span: 8, offset: 8 }">
      <div class="policy">
        <label nz-checkbox [(ngModel)]="securityPolicy.minActive" (change)="updateMin()"
          [nzDisabled]="!checkPermission(1)">Mínimo de caracteres: </label>
        <nz-input-number [nzMin]="6" [nzMax]="127" [nzStep]="1" [(ngModel)]="securityPolicy.minLength">
        </nz-input-number>
      </div>

      <div><strong>Incluir en contraseña: </strong></div>
      <div class="policy">
        <label nz-checkbox [(ngModel)]="securityPolicy.numericChart" [nzDisabled]="!checkPermission(1)">Dígitos</label>
      </div>
      <div class="policy">
        <label nz-checkbox [(ngModel)]="securityPolicy.capitalLetter"
          [nzDisabled]="!checkPermission(1)">Mayúsculas</label>
      </div>
      <div class="policy">
        <label nz-checkbox [(ngModel)]="securityPolicy.lowerCase" [nzDisabled]="!checkPermission(1)">Minúsculas</label>
      </div>
      <div class="policy">
        <label nz-checkbox [(ngModel)]="securityPolicy.specialChart" [nzDisabled]="!checkPermission(1)">Caracteres
          especiales</label>
        <i nz-icon nzType="question-circle" nzTheme="outline" nz-tooltip
          nzTooltipTitle="Caracteres permitidos !  # $ % &  ( ) * + , - . / :  < = > ? @ [ \ ] ^ _  { | } ~"></i>
      </div>

      <button *ngIf="checkPermission(1)" nz-button nzType="primary" (click)="showConfirm()">ACTUALIZAR
        POLÍTICAS</button>
    </div>
  </div>
</nz-spin>