/*
  Path: app/security-policies/components/security-policies.component.css
  Objetive: Define security policies style
  Author: Esme López 
*/

/* .policies{
    margin-top: 10px;
    padding: 10px;;
} */

/* h1 { text-align: center; }

nz-input-number { width: 75px; } */
