<nz-spin nzTip="Cargando ..." [nzSpinning]="loadingExpedients">

    <div nz-row nzJustify="space-between">
        <div nz-col nzXs="24" nzMd="6" nzLg="4" nzXl="3">
            <h1>Expediente</h1>
        </div>

        <div nz-col *ngIf="!loadingExpedients">
            <p class="navigator">
                <a nz-button nzType="link" [disabled]="selectedExpedientIsFirst" (click)="setSelectedExpedient(this.selectedExpedientIndex - 1)">
                    <i nz-icon nzType="left" nzTheme="outline"></i>
                </a>

                {{selectedExpedientExists ? selectedExpedient.expedientGrade : 'Abrir expediente'}}

                <a nz-button nzType="link" [disabled]="selectedExpedientIsLast" (click)="setSelectedExpedient(this.selectedExpedientIndex + 1)">
                    <i nz-icon nzType="right" nzTheme="outline"></i>
                </a>
            </p>
        </div>

        <div nz-col>
            <a nz-button nzType="primary">Generar reporte</a>
        </div>
    </div>

    <ng-container *ngIf="!loadingExpedients">
        <app-students-details-expedient [id]="studentId"></app-students-details-expedient>

        <app-expedient-view *ngIf="!editing"
                            [studentId]="studentId"
                            [expedient]="selectedExpedientExists ? selectedExpedient : null"
                            [isEditable]="selectedExpedientIsEditable"
                            (initEditing)="setEditing(true)"
        ></app-expedient-view>

        <app-expedient-form *ngIf="editing"
                            [studentId]="studentId"
                            [expedient]="selectedExpedientExists ? selectedExpedient : null"
                            (expedientSaved)="onExpedientSaved($event)"
                            (cancelEditing)="setEditing(false)"
        ></app-expedient-form>

       <app-sessions-counter *ngIf="selectedExpedientExists"
                            [studentId]="studentId"
                            [expedientId]="selectedExpedient.id"
                            [isEditable]="selectedExpedientIsEditable"
                            [sessionsCounter]="selectedExpedient.sessionsCounter"
       ></app-sessions-counter> 
    </ng-container>

</nz-spin>

