<nz-spin nzTip="Cargando ..." [nzSpinning]="loadingExpedients">

    <div nz-row nzJustify="space-between">
        <div nz-col>
            <h1>Expediente</h1>
        </div>

        <div nz-col *ngIf="!loadingExpedients">
            <p class="navigator">
                <a nz-button nzType="link" [disabled]="selectedExpedientIsFirst" (click)="setSelectedExpedient(this.selectedExpedientIndex - 1)">
                    <i nz-icon nzType="left" nzTheme="outline"></i>
                </a>

                {{selectedExpedientExists ? selectedExpedient.expedientGrade : 'Abrir expediente'}}

                <a nz-button nzType="link" [disabled]="selectedExpedientIsLast" (click)="setSelectedExpedient(this.selectedExpedientIndex + 1)">
                    <i nz-icon nzType="right" nzTheme="outline"></i>
                </a>
            </p>
        </div>

        <div nz-col>
            <a nz-button nzType="primary">Generar reporte</a>
        </div>
    </div>

    <ng-container *ngIf="!loadingExpedients">
        <app-students-details-expedient [id]="studentId"></app-students-details-expedient>
    </ng-container>

</nz-spin>

