<div *ngIf="!loadingData" class="ant-card-body">

    <!-- Header -->
    <div nz-row nzGutter="20">
        <div nz-col>
            <img class="logo" src="assets/logo-maristas-color.png" alt="">
        </div>

        <div nz-col nzSpan="9">
            <h2 class="document-institution text-blue">LICEO SALVADOREÑO</h2>
            <h3>Historial académico y conductual</h3>
            <p class="text-blue-light">Fecha: {{data.date}}</p>
        </div>

        <div nz-col nzSpan="11">
            <div class="student-data" nz-row nzGutter="10" nzAlign="bottom">

                <div nz-col nzSpan="24">
                    <p>Estudiante: {{data.student.firstname}} {{data.student.lastname}}</p>
                </div>

                <div nz-col nzSpan="9">
                    <p>NIE: {{data.student.code}}</p>
                    <p>Turno: {{data.student.currentShift.name}}</p>
                </div>

                <div nz-col nzSpan="8">
                    <p>Edad: {{data.student.age}} años</p>
                    <p>Grado: {{data.student.currentGrade.name}}</p>
                </div>

                <div nz-col nzSpan="7">
                    <p></p>
                    <p>Sección: {{data.student.section.name}}</p>
                </div>
            </div>
        </div>        
    </div>

    <nz-divider class="main-divider text-blue"></nz-divider>
    <!-- / Header -->

    <!-- General data -->
    <p>Historial académico y conductual generado con los registros del estudiantes desde el día {{data.behavioralHistory.createdAtString}} a la fecha.</p>

    <p class="title">Historial académico y conductual {{data.behavioralHistory.behavioralHistoryYear}}</p>

    <p><strong class="text-blue-light">Docente titular a cargo: </strong>{{data.behavioralHistory.author}}</p>

    <!-- / General data -->

    <!-- Annotations -->
    <ng-container *ngIf="filters.includes('annotations')">
        <nz-divider class="section-divider text-blue" nzOrientation="center" nzText="Anotaciones conductuales"></nz-divider>

        <ng-container *ngFor="let annotation of data.behavioralHistory.annotations">
            <p class="text-blue-light"><strong>Fecha: </strong>{{annotation.annotationDateString}}</p>
            <p><strong>Título: </strong>{{annotation.title}}</p>
            <p><strong>Reporte de: </strong>{{annotation.reporter.firstname}} {{annotation.reporter.lastname}}</p>
            <p><strong>Descripción del evento: </strong> <br> {{annotation.description}}</p>

            <br>
        </ng-container>
    </ng-container>
    <!-- / Annotations -->

    <!-- Fouls assignations -->
    <ng-container *ngIf="filters.includes('p1') || filters.includes('p2') || filters.includes('p3') || filters.includes('p4')">
        <nz-divider class="section-divider text-blue" nzOrientation="center" nzText="Faltas y sanciones"></nz-divider>

        <ng-container *ngFor="let counter of data.behavioralHistory.behavioralHistoryfouls">
            <p class="text-blue"><strong>{{counter.period}}</strong></p>
            <p>Total de faltas y sanciones asignadas en el {{counter.period | lowercase}}:</p>
            <div nz-row>
                <div nz-col nzSpan="6">
                    <p class="counter-header">Faltas leves</p>
                    <p class="counter">{{counter.foulsCounter.minorFouls}}</p>
                </div>
                <div  nz-col nzSpan="6">
                    <p class="counter-header">Faltas graves</p>
                    <p class="counter">{{counter.foulsCounter.seriousFouls}}</p>
                </div>
                <div nz-col nzSpan="6">
                    <p class="counter-header">Faltas muy graves</p>
                    <p class="counter">{{counter.foulsCounter.verySeriousFouls}}</p>
                </div>
                <div nz-col nzSpan="6">
                    <p class="counter-header">Sanciones</p>
                    <p class="counter">{{counter.foulsCounter.totalSanctions}}</p>
                </div>
            </div> 

            <ng-container *ngFor="let assignation of counter.fouls">
                <p class="text-blue-light"><strong>Fecha: </strong>{{assignation.issueDateString}}</p>
                <nz-tag> Tipo: {{ assignation.foul.foulsType }}</nz-tag>
                <nz-tag> Numeral de la falta: {{ assignation.foul.numeral }}</nz-tag>
                <p><strong>Descripción de la falta: </strong> <br>{{assignation.foul.description}}</p>
                <p><strong>Sanción: </strong>{{assignation.sanction ? assignation.sanction.name : 'Sin sanción asignadda'}}</p>
                <p *ngIf="assignation.sanction"><strong>Descripción de la sanción: </strong> <br> {{assignation.sanction.description}}</p>
                <br>
            </ng-container>
        </ng-container>
    </ng-container>
    <!-- / Fouls assignations -->

    <!-- Final expedient conclusion -->
    <div nz-row *ngIf="filters.includes('expedients')">
        <div nz-col nzSpan="24">
            <p><strong class="text-blue-light">Comentario final de consejería</strong></p>
            <ng-container *ngIf="data.behavioralHistory.expedients && data.behavioralHistory.expedients.length">
                <p>{{data.behavioralHistory.expedients[0].finalConclusion}}</p>
                <p class="comment-author"><strong>Orientador: </strong>{{data.behavioralHistory.expedients[0].author}}</p>
            </ng-container>
        </div>
    </div>
    <!-- / Final expedient conclusion -->

    <!-- Final history conclusion -->
    <div nz-row *ngIf="filters.includes('finalConclusion')">
        <div nz-col nzSpan="24">
            <p><strong class="text-blue-light">Comentario resultados generales al final del año</strong></p>
            <p>
                {{data.behavioralHistory.finalConclusion || 'No se ha registrado el comentario de resultados generales'}}
            </p>
        </div>
    </div>
    <!-- / Final history conclusion -->

    <!-- Signatures -->
    <div class="signatures" nz-row>
        <div nz-col nzSpan="24">
            
            <div nz-row [nzGutter]="[30, 30]">
                <div nz-col nzSpan="8">
                    <nz-divider class="signature-divider"></nz-divider>
                    {{data.behavioralHistory.author}} <br>
                    Docente títular
                </div>
            </div>
        </div>
    </div>
    <!-- / Signatures -->

</div>
