<nz-card class="resetPasswordBackground" nz-col [nzXs]="{ span: 20, offset: 2 }" [nzSm]="{ span: 20, offset: 2 }"
    [nzMd]="{ span: 20, offset: 2 }" [nzLg]="{ span: 8, offset: 8 }">
    <h1>¿Olvidaste tu contraseña?</h1>
    <div *ngIf="show; else elseBlock">
        <!-- Content that appear if the condition is true -->
        <form nz-form [formGroup]="resetPassword" (submit)="sendEmail()">
            <div nz-col>
                <p>Ingrese su correo electrónico y le enviaremos un enlace
                    para que pueda restablecer su contraseña.</p>
            </div>
            <nz-form-item>
                <nz-form-label nzRequired nzFor="email">E-mail</nz-form-label>
                <nz-form-control nzErrorTip="Ingrese un correo electrónico valido!">
                    <input nz-input formControlName="email" id="email" />
                </nz-form-control>
            </nz-form-item>
            <div nz-row>
                <a routerLink="/login">Regresar al inicio de sesión</a>
            </div>
            <button nz-button [nzLoading]="btnLoading" [nzType]="'primary'">
                Restablecer contraseña
            </button>
        </form>
    </div>

    <ng-template #elseBlock>
        <!-- Content to render when condition is false. -->
        <div nz-col>
            <p>Le hemos enviado a su correo electrónico las instrucciones para que pueda restablecer su contraseña.</p>
            <p> Si usted no recibe el email, asegúrese de haber ingresado la dirección de correo electrónico con la cual
                está registrado y revise la carpeta de correos Spam o la Papelera.</p>
            <div nz-row>
                <a routerLink="/login">Regresar al inicio de sesión</a>
            </div>
        </div>
    </ng-template>
</nz-card>