<br>
<br>
<br>
<br>
<nz-card class="resetPasswordBackground" nz-col [nzXs]="{ span: 20, offset: 2 }" [nzSm]="{ span: 20, offset: 2 }"
    [nzMd]="{ span: 20, offset: 2 }" [nzLg]="{ span: 8, offset: 8 }">

    <!-- <nz-alert *ngIf="message" nzType="warning" nzMessage="Debe completar el campo con un email" nzShowIcon></nz-alert> -->
    <h1>Reestablece tu contraseña </h1>
    <div *ngIf="show; else elseBlock">
        <!-- Content that appear if the condition is true -->
        <form nz-form [formGroup]="resetPassword" (submit)="sendEmail()">
            <div nz-col>
                <p>Ingrese su correo electrónico y le enviaremos un enlace
                    para que pueda reestablecer su contraseña</p>
                <!-- <p *ngIF="mostrar">correo enviado</p> -->
            </div>
            <!-- [nzSm]="6" [nzXs]="24"     [nzSm]="14" [nzXs]="24" -->
            <nz-form-item>
                <nz-form-label nzRequired nzFor="email">E-mail</nz-form-label>
                <nz-form-control nzErrorTip="Ingrese un correo electrónico valido!">
                    <input nz-input formControlName="email" id="email" />
                </nz-form-control>
            </nz-form-item>
            <div nz-row>
                <!-- (click)='sendEmail() -->
                <a routerLink="/login">Regresar al inicio de sesión</a>
            </div>
            <button nz-button [nzType]="'primary'">
                Reestablecer contraseña
            </button>
        </form>

    </div>
    <ng-template #elseBlock>
        <!-- Content to render when condition is false. -->
        <div nz-col>
            <p>Le hemos enviado a su correo electrónico las instrucciones para que pueda reestablecer su contraseña.</p>
            <!-- <p *ngIF="mostrar">correo enviado</p> -->
            <br>
            <p> Si usted no recibe el email, asegurese de haber ingresado la dirección de correo electrónico con la
                cuál esta registrado y revise la carpeta de correos Span o la Papelera </p>
            <div nz-row>
                <!-- (click)='sendEmail() -->
                <a routerLink="/login">Regresar al inicio de sesión</a>
            </div>
        </div>

    </ng-template>



</nz-card>