<div class="auth-background-image">
  <div nz-row nzAlign="middle" class="auth-background-color">
    <nz-card class="auth-background" nz-col [nzXs]="{ span: 22, offset: 1 }" [nzSm]="{ span: 16, offset: 4 }"
             [nzMd]="{ span: 10, offset: 7 }" [nzLg]="{ span: 8, offset: 8 }" [nzXl]="{ span: 6, offset: 9 }">

      <!--  Title and subtitle  -->
      <div nz-row nzJustify="center">
        <a class="auth-subtitle">¿Olvidaste tu contraseña?</a>
      </div>
      <!--  / Title and subtitle  -->

      <div *ngIf="show; else elseBlock">
        <!-- Content that appear if the condition is true -->
        <form nz-form class="auth-form" [formGroup]="resetPassword" (submit)="sendEmail()">
          <div nz-col>
            <p class="auth-text">Ingrese su correo electrónico y le enviaremos un enlace
              para que pueda restablecer su contraseña.</p>
          </div>
          <nz-form-item>
            <nz-input-group nzPrefixIcon="user">
              <input type="email" nz-input placeholder="E-mail" formControlName="email"/>
            </nz-input-group>
          </nz-form-item>
          <nz-alert *ngIf="message" nzType="warning" nzMessage="Ingrese un correo válido"
                    nzShowIcon></nz-alert>
          <div nz-row nzJustify="center">
            <a routerLink="/login">Regresar al inicio de sesión</a>
          </div>
          <button nz-button class="auth-form-button" [nzLoading]="btnLoading" [nzType]="'primary'">
            Restablecer contraseña
          </button>
        </form>
      </div>

      <ng-template #elseBlock>
        <!-- Content to render when condition is false. -->
        <div nz-col>
          <p class="auth-text">Le hemos enviado a su correo electrónico las instrucciones para que pueda restablecer su contraseña.</p>
          <p class="auth-text"> Si usted no recibe el email, asegúrese de haber ingresado la dirección de correo electrónico con la cual
            está registrado y revise la carpeta de correos Spam o la Papelera.</p>
          <div nz-row>
            <a routerLink="/login">Regresar al inicio de sesión</a>
          </div>
        </div>
      </ng-template>
    </nz-card>
  </div>
</div>
