.status {
    text-align: center;
    background-color: #eeeeee;
    margin: 5px 0px;
    padding: 2px 20px;
    border-radius: 5px;
}

.counter, .counter-header {
    text-align: center;
}

.counter {
    font-weight: bold;
}

.counter-header {
    margin-bottom: 0px;
}

.alert .counter {
    color: red;
}

.alert .counter-header::after {
    content: "!";
    font-size: 18px;
    color: red;
    font-weight: bold;
}