<nz-spin nzTip="Cargando ..." [nzSpinning]="loading">
    <ng-container *ngIf="sociometricTest">
        <div nz-row nzJustify="space-around">
            <div nz-col nzFlex="auto">
                <h1>Prueba sociométrica</h1>
            </div>
            <div nz-col nzFlex="110px">
                <a nz-button nzGhost nzType="primary">Generar reporte</a>
            </div>
        </div>

        <!-- View -->
        <div nz-row *ngIf="!editing">
            <div nz-col nzSpan="24">
                <h3 class="principal">{{ sociometricTest.grade.name }} {{ sociometricTest.section.name }}
                    ({{ sociometricTest.shift.name }})</h3>
                <a class="principal" (click)="editing = true; setForm()" *ngIf="sociometricTest.status == 'Creada'">
                    <i nz-icon nzType="edit" nz-tooltip nzTooltipTitle="Editar" nzTheme="outline"></i>
                </a>
            </div>
            <div nz-col nzSpan="24">
                <h4>{{ sociometricTest.questionBank.name }}</h4>
            </div>
            <div nz-col nzSpan="24">
                <ul>
                    <li>Cantidad de preguntas: <strong>{{sociometricTest.questionBank.questions.length }}</strong></li>
                    <li>Respuestas por pregunta: <strong>{{ sociometricTest.answersPerQuestion }}</strong></li>
                </ul>
            </div>
        </div>

        <!-- #region Edit -->
        <div nz-row *ngIf="editing">
            <form nz-form [formGroup]="sociometricTestForm" nzLayout="vertical" (ngSubmit)="submitForm()">
                <div nz-row [nzGutter]="10">
                    <!-- Shift -->
                    <div nz-col nzXs="24" nzMd="8" [nzLg]="{ span: 6, offset: 3 }">
                        <nz-form-item>
                            <nz-form-label nzFor="shift">Turno:</nz-form-label>
                            <nz-form-control nzErrorTip="El turno es requerido">
                                <nz-select id="shift" nzShowSearch nzAllowClear formControlName="shift"
                                    nzPlaceHolder="Seleccionar" (ngModelChange)="updateSelectors('shift', $event);">
                                    <nz-option *ngFor="let shift of shifts" [nzValue]="shift.id" [nzLabel]="shift.name">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <!-- Grade -->
                    <div nz-col nzXs="24" nzMd="8" nzLg="6">
                        <nz-form-item>
                            <nz-form-label nzFor="grade">Grado:</nz-form-label>
                            <nz-form-control nzErrorTip="El grado es requerido">
                                <nz-select id="grade" nzShowSearch nzAllowClear formControlName="grade"
                                    nzPlaceHolder="Seleccionar" (ngModelChange)="updateSelectors('grade', $event);">
                                    <nz-option *ngFor="let grade of grades" [nzValue]="grade.id" [nzLabel]="grade.name">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <!-- Section -->
                    <div nz-col nzXs="24" nzMd="8" nzLg="6">
                        <nz-form-item>
                            <nz-form-label nzFor="section">Sección:</nz-form-label>
                            <nz-form-control nzErrorTip="La sección es requerida">
                                <nz-select id="grade" nzShowSearch nzAllowClear formControlName="section"
                                    nzPlaceHolder="Seleccionar">
                                    <nz-option *ngFor="let section of sections" [nzValue]="section.id"
                                        [nzLabel]="section.name">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <!-- Question bank -->
                    <div nz-col nzXs="24" nzMd="16" [nzLg]="{ span: 12, offset: 3 }">
                        <nz-form-item>
                            <nz-form-label nzFor="questionBank">Banco de preguntas:</nz-form-label>
                            <nz-form-control nzErrorTip="El banco de preguntas es requerido">
                                <nz-select nzShowSearch nzAllowClear formControlName="questionBank"
                                    nzPlaceHolder="Seleccionar">
                                    <nz-option *ngFor="let questionBank of questionBanks" [nzValue]="questionBank.id"
                                        [nzLabel]="questionBank.name">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <!-- Answers per question -->
                    <div nz-col nzXs="24" nzMd="8" nzLg="6">
                        <nz-form-item>
                            <nz-form-label nzFor="answersPerQuestion">Respuestas por pregunta:
                            </nz-form-label>
                            <nz-form-control nzErrorTip="La cantidad de respuestas es requerida">
                                <nz-input-number [nzMin]="1" [nzMax]="5" [nzStep]="1" placeholder="Seleccionar"
                                    formControlName="answersPerQuestion"></nz-input-number>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <!-- Actions -->
                <div nz-row nzJustify="center">
                    <nz-form-item>
                        <nz-form-control nz-col nzSpan="24">
                            <a class="btn-cancel" nz-button nzType="default" (click)="editing=false;">Cancelar</a>
                            <button nz-button nzType="primary" [nzLoading]="btnLoading">Actualizar</button>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </form>
        </div>
        <!-- #endregion -->

        <!-- #region Schedule -->
        <ng-container *ngIf="sociometricTest.grade.id > 6">
            <nz-divider nzText="Pruebas programadas" nzOrientation="left"></nz-divider>
            <div nz-col nzXs="24" [nzMd]="{ span: 20, offset: 2}" [nzLg]="{ span: 18, offset: 3}"
                [nzXl]="{ span: 16, offset: 4}">

                <form nz-form [formGroup]="presetsForm" nzLayout="horizontal">
                    <ng-container *ngFor="let control of listOfPresets">
                        <!-- Is editable? -->
                        <ng-container *ngIf="control.preset.edit;else presetTemplate">
                            <!-- Started at -->
                            <nz-form-item>
                                <nz-form-label>Fecha y hora</nz-form-label>
                                <nz-form-control [nzErrorTip]="startedAtErrors">
                                    <nz-date-picker [attr.id]="control.startedAtId"
                                        [formControlName]="control.startedAtControlInstance"
                                        [nzShowTime]="{nzHideDisabledOptions: true, nzFormat: 'HH:mm'}"
                                        nzFormat="dd/MM/yyyy HH:mm" [nzDisabledDate]="disabledDate"
                                        nzPlaceHolder="Seleccionar">
                                    </nz-date-picker>
                                    <ng-template #startedAtErrors let-control>
                                        <ng-container *ngIf="control.hasError('required')">La fecha y hora son
                                            requeridas<br>
                                        </ng-container>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>

                            <!-- Duration -->
                            <nz-form-item>
                                <nz-form-label nzFor="duration">Duración</nz-form-label>
                                <nz-form-control [nzErrorTip]="durationErrors">
                                    <nz-input-number [nzMin]="15" [nzMax]="120" [nzStep]="1"
                                        [attr.id]="control.durationId"
                                        [formControlName]="control.durationControlInstance"
                                        [nzFormatter]="durationFormatter" [nzParser]="durationParser"
                                        nzPlaceHolder="Seleccionar"></nz-input-number>
                                    <ng-template #durationErrors let-control>
                                        <ng-container *ngIf="control.hasError('required')">La duración es requerida<br>
                                        </ng-container>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                        </ng-container>

                        <!-- Read only -->
                        <ng-template #presetTemplate>
                            <div>
                                <i nz-icon nzType="calendar" nzTheme="outline"></i> Fecha y hora:
                                {{ control.preset.startedAt }}
                            </div>
                            <div>
                                Duración: {{ control.preset.duration }}
                            </div>
                        </ng-template>

                        <!-- Password -->
                        <div *ngIf="control.preset.password">
                            Contraseña:
                            <ng-container *ngIf="control.preset.isPassVisible; else hidePass">
                                {{ control.preset.password }}
                                <a (click)="control.preset.isPassVisible = false"><i nz-icon nzType="eye-invisible"
                                        nzTheme="outline"></i></a>
                            </ng-container>
                            <ng-template #hidePass>
                                ********
                                <a (click)="control.preset.isPassVisible = true"><i nz-icon nzType="eye"
                                        nzTheme="outline"></i></a>
                            </ng-template>
                        </div>

                        <!-- Actions -->
                        <ng-container *ngIf="control.preset.id;else createTemplate">
                            <!-- Updating -->
                            <ng-container *ngIf="control.preset.edit;else viewTemplate">
                                <a nz-tooltip nzTooltipTitle="Actualizar" (click)="updatePreset()">
                                    <i nz-icon nzType="save" nzTheme="outline"></i>
                                </a>
                                <a nz-popconfirm
                                    nzPopconfirmTitle="¿Desea descartar los cambios?" nzOkText="Sí" nzCancelText="No"
                                    (nzOnConfirm)="control.preset.edit = false;">
                                    <i nz-icon nzType="close-circle" nzTheme="outline"></i>
                                </a>
                            </ng-container>
                            <!-- Read only -->
                            <ng-template #viewTemplate>
                                <a nz-tooltip nzTooltipTitle="Editar">
                                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                                </a>
                                <a nz-tooltip nzTooltipTitle="Eliminar" nz-popconfirm
                                    nzPopconfirmTitle="¿Desea eliminar la programación?" nzOkText="Sí" nzCancelText="No"
                                    (nzOnConfirm)="deletePreset()">
                                    <i nz-icon nzType="close-circle" nzTheme="outline"></i>
                                </a>                                        
                            </ng-template>
                        </ng-container>
                        <!-- Creating -->
                        <ng-template #createTemplate>
                            <a nz-tooltip nzTooltipTitle="Guardar" (click)="createPreset(control)">
                                <i nz-icon nzType="save" nzTheme="outline"></i>
                            </a>
                            <a nz-popconfirm
                                nzPopconfirmTitle="¿Desea descartar los cambios?" nzOkText="Sí" nzCancelText="No"
                                (nzOnConfirm)="control.preset.edit = false">
                                <i nz-icon nzType="close-circle" nzTheme="outline"></i>
                            </a>
                        </ng-template>
                    </ng-container>

                    <nz-form-control nz-col>
                        <button nz-button nzGhost nzType="primary" class="add-button" (click)="addField($event)">
                            Agregar programación
                        </button>
                    </nz-form-control>
                </form>
            </div>
        </ng-container>
        <!-- #endregion -->

        <!-- #region Students -->
        <nz-divider nzText="Estudiantes" nzOrientation="left"></nz-divider>
        <div nz-col nzXs="24" [nzMd]="{ span: 20, offset: 2}" [nzLg]="{ span: 18, offset: 3}"
            [nzXl]="{ span: 16, offset: 4}">
            <nz-table #sortTable [nzData]="sociometricTest.students" nzSize="small" nzTableLayout="fixed"
                nzShowSizeChanger="true">
                <thead>
                    <tr>
                        <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare"
                            [nzSortPriority]="column.priority">
                            {{ column.title }}</th>
                        <th [nzAlign]="'center'">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of sortTable.data">
                        <td>{{ data.code }}</td>
                        <td>{{ data.firstname }}</td>
                        <td>{{ data.lastname }}</td>
                        <td [nzAlign]="'center'">
                            <ng-container *ngIf="data['completed'];else emptyTest">
                                <a>
                                    <i nz-icon nzType="eye" nz-tooltip nzTooltipTitle="Ver resultados"
                                        nzTheme="outline"></i>
                                </a>
                            </ng-container>
                            <ng-template #emptyTest>
                                <ng-container *ngIf="sociometricTest.grade.id > 6;else minorStudents">
                                    <a disabled>
                                        <i nz-icon nzType="eye" nzTheme="outline"></i>
                                    </a>
                                </ng-container>
                                <ng-template #minorStudents>
                                    <a>
                                        <i nz-icon nzType="form" nz-tooltip nzTooltipTitle="Realizar prueba"
                                            nzTheme="outline"></i>
                                    </a>
                                </ng-template>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
        <!-- #endregion -->
    </ng-container>

</nz-spin>