h4 {
    margin-bottom: 10px;
    display: block;
}

h3 {
    display: inline;
    margin-right: 15px;
}

nz-input-number, nz-date-picker {
    border-radius: 7px;
    width: 100%;
}

.btn-cancel, .right {
    margin-right: 10px;
}

form i {
    padding: 5px;
    font-size: 25px;
}

/* .nz-form-item{
    margin-bottom: 5px!important;
} */

.report, #presets {
    margin-bottom: 10px;
}

.add-button {
    margin-top: 10px;
}

.grey {
    color: #333333;
}