<h1>Horarios de atención</h1>
<!-- Create cycle modal -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="Editar horario" [nzContent]="modalContent" nzOkText="Guardar"
    nzCancelText="Cancelar" [nzFooter]="modalFooter" (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()">
    <!-- Modal content[formGroup]="createCycle" -->
    <form nz-form >
        <ng-template #modalContent>
            <div nz-row>
            <nz-form-item>
                <nz-form-label nzRequired nzFor="startTime">Hora de inicio</nz-form-label>
                <!-- [(ngModel)]="time" -->
                <nz-time-picker [nzUse12Hours]="true" nzFormat="h:mm a">
                </nz-time-picker>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzRequired nzFor="endTime">Hora de fin</nz-form-label>
                <!-- [(ngModel)]="time" -->
                <nz-time-picker [nzUse12Hours]="true" nzFormat="h:mm a">
                </nz-time-picker>
            </nz-form-item>
            </div>
        </ng-template>
    </form>
    <!-- Modal footer -->
    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
        <button nz-button nzType="primary" (click)="handleOk()" >Guardar</button>
    </ng-template>
</nz-modal>
<!--  -->
<nz-page-header [nzGhost]="true">
    <nz-page-header-extra>
        <button nz-button nzType="primary" routerLink="/agenda/horarios/crear">Crear Horario</button>
    </nz-page-header-extra>
</nz-page-header>
<div nz-row>
    <div nz-col [nzXs]="{ span: 24 }" [nzSm]="{ span: 24 }"  [nzMd]="{ span: 24 }" [nzLg]="{ span: 24 }" [nzXl]="{ span: 20, offset: 2 }">
        <nz-spin nzTip="Cargando ..." [nzSpinning]="loading">

            <nz-collapse [nzBordered]="false">
                <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active">
                    <ul nz-list [nzDataSource]="data" nzBordered nzSize="small">

                        <li nz-list-item *ngFor="let item of data">
                            <nz-list-item-extra>
                                <span>
                                    <!-- (click)="startEdit(data.id)" -->
                                    <a nz-tooltip nzTooltipTitle="Actualizar" (click)="showModal()" >
                                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                                    </a>
                                </span>
                                <span>
                                    <!--  -->
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <a nz-tooltip nzTooltipTitle="Eliminar" (click)="showConfirm()">
                                        <i nz-icon nzType="delete" nzTheme="outline" ></i>
                                    </a>
                                </span>
                            </nz-list-item-extra>
                            {{ item }}
                        </li>
        
                    </ul>
                </nz-collapse-panel>
            </nz-collapse>

        </nz-spin>
    </div>
</div>