p {
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
}

nz-row {
    margin: 10px auto 10px;
    display: block;
}

nz-card-meta {
    margin-bottom: 5px;
}

nz-card {
    width: 340px; 
    height: 475px;
    background-color: transparent;
    margin: 10px auto 10px;
    display: block;
    border-radius: 10px;
}

img {
    width: auto;
    height: 250px;
    margin:auto;
    padding-top: 15px;
}

.description {
    text-align: justify;
}