h1 {
    text-align: center;
    margin:auto;
    padding-top: 2%;
}

h2 {
    text-align: center;
    margin:auto;
}

p {
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
}

nz-row {
    margin: 10px auto 10px;
    display: block;
}

nz-card-meta {
    margin-bottom: 5px;
}

nz-card {
    width: 340px; 
    height: 475px;
    background-color: transparent;
    margin: 10px auto 10px;
    display: block;
    border-radius: 10px;
}

img {
    width: auto;
    height: 300px;
    display:block;
    margin:auto;
}

.description {
    text-align: justify;
    margin-bottom: 15px;
}

.align {
    margin: 10px auto 10px;
    display: block;
}

.align-center {   
    display: flex;
    justify-content: center;
}