h1 {
    text-align: center;
    margin:auto;
}

p {
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 25px;
}

nz-row {
    text-align: center;
}

nz-card-meta {
    margin-bottom: 5px;
}

nz-card {
    width: 300px; 
    height: 280px;
    text-align: center;
    border-radius: 10px;
}

img {
    width: 300px;
    text-align: center;
    height: 280px;
}

.description {
    text-align: justify;
    margin-bottom: 15px;
}

.align {
    margin-right: 40px;
}