/*
  Path: app/login/components/forbidden/forbidden.component.css
  Objective: Define the not found error style
  Author: Esme López 
*/

#forbidden {
  text-align: center;
  font-size: 1.8em;
  margin-top: 20px;
}

.messages {
  padding: 10px;
}

img {
  width: 80%;
}
