<h1>Crear estudiante</h1>

<form nz-form [formGroup]="studentForm" (ngSubmit)="submitForm()">
    <div nz-row [nzGutter]="24">
        <!----------        Sudent data       ---------->
        <nz-divider nzText="Datos personales" nzOrientation="left"></nz-divider>
        <!-- Code -->
        <div nz-col nzXs="24" nzLg="11">
            <nz-form-item nzJustify="space-around">
                <nz-form-label>Código</nz-form-label>
                <nz-form-control [nzErrorTip]="codeErrors">
                    <input nz-input formControlName="code" placeholder="Código" />
                    <ng-template #codeErrors let-control>
                        <ng-container *ngIf="control.hasError('maxlength')">La longitud máxima es de 32 caracteres
                        </ng-container>
                        <ng-container *ngIf="control.hasError('required')">El código es requerido</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Firstname -->
        <div nz-col nzXs="24" nzLg="11">
            <nz-form-item nzJustify="space-around">
                <nz-form-label>Nombre</nz-form-label>
                <nz-form-control [nzErrorTip]="firstnameErrors">
                    <input nz-input formControlName="firstname" placeholder="Nombre" />
                    <ng-template #firstnameErrors let-control>
                        <ng-container *ngIf="control.hasError('maxlength')">La longitud máxima es de 128 caracteres
                        </ng-container>
                        <ng-container *ngIf="control.hasError('required')">El nombre es requerido</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Lastname -->
        <div nz-col nzXs="24" nzLg="11">
            <nz-form-item nzJustify="space-around">
                <nz-form-label>Apellido</nz-form-label>
                <nz-form-control [nzErrorTip]="lastnameErrors">
                    <input nz-input formControlName="lastname" placeholder="Apellido" />
                    <ng-template #lastnameErrors let-control>
                        <ng-container *ngIf="control.hasError('maxlength')">La longitud máxima es de 128 caracteres
                        </ng-container>
                        <ng-container *ngIf="control.hasError('required')">El apellido es requerido</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Email -->
        <div nz-col nzXs="24" nzLg="11">
            <nz-form-item nzJustify="space-around">
                <nz-form-label>Correo electrónico</nz-form-label>
                <nz-form-control [nzErrorTip]="emailErrors">
                    <input nz-input formControlName="email" placeholder="Correo electrónico"
                        type="email" />
                    <ng-template #emailErrors let-control>
                        <ng-container *ngIf="control.hasError('maxlength')">La longitud máxima es de 128 caracteres
                        </ng-container>
                        <ng-container *ngIf="control.hasError('required')">El correo electrónico es requerido
                        </ng-container>
                        <ng-container *ngIf="control.hasError('pattern')">Ingrese un correo electrónico valido
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Date of birth -->
        <div nz-col nzXs="24" nzLg="11">
            <nz-form-item nzJustify="space-around">
                <nz-form-label>Fecha de nacimiento</nz-form-label>
                <nz-form-control [nzErrorTip]="dateOfBirthErrors">
                    <nz-date-picker formControlName="dateOfBirth" nzFormat="dd/MM/yyyy" [nzDisabledDate]="disabledDate">
                    </nz-date-picker>
                    <ng-template #dateOfBirthErrors let-control>
                        <ng-container *ngIf="control.hasError('required')">La fecha de nacimiento es requerida
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <!----------        Shift & grade assignation       ---------->
    <div nz-row [nzGutter]="24">
        <nz-divider nzText="Asignación" nzOrientation="left"></nz-divider>
        <!-- Shift -->
        <div nz-col nzXs="24" nzLg="11">
            <nz-form-item nzJustify="space-around">
                <nz-form-label [nzSpan]="5" nzFor="shift">Turno</nz-form-label>
                <nz-form-control [nzSpan]="12" nzErrorTip="El turno es requerido">
                    <nz-select id="shift" nzShowSearch nzAllowClear formControlName="shift" nzPlaceHolder="Seleccionar">
                        <nz-option *ngFor="let shift of shifts" [nzValue]="shift.id" [nzLabel]="shift.name"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Grade -->
        <div nz-col nzXs="24" nzLg="11">
            <nz-form-item nzJustify="space-around">
                <nz-form-label [nzSpan]="5" nzFor="currentGrade">Grado</nz-form-label>
                <nz-form-control [nzSpan]="12" nzErrorTip="El grado es requerido">
                    <nz-select id="grade" nzShowSearch nzAllowClear formControlName="currentGrade" nzPlaceHolder="Seleccionar">
                        <nz-option *ngFor="let grade of activeGrades" [nzValue]="grade.id" [nzLabel]="grade.name"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <!----------        Registration data (optional)       ---------->
    <div nz-row [nzGutter]="24">
        <nz-divider nzText="¿Estudiante de antiguo ingreso?" nzOrientation="left"></nz-divider>
        <!-- Registration Year -->
        <div nz-col nzXs="24" nzLg="11">
            <nz-form-item nzJustify="space-around">
                <nz-form-label nzFor="registrationYear">Año de ingreso</nz-form-label>
                <nz-form-control>
                    <nz-year-picker id="registrationYear" formControlName="registrationYear" nzPlaceHolder="Seleccionar año" [nzDisabledDate]="disabledYear"></nz-year-picker>
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Registration Grade -->
        <div nz-col nzXs="24" nzLg="11">
            <nz-form-item nzJustify="space-around">
                <nz-form-label  nzFor="registrationGrade">Grado</nz-form-label>
                <nz-form-control>
                    <nz-select id="registrationGrade" nzShowSearch nzAllowClear formControlName="registrationGrade" nzPlaceHolder="Seleccionar">
                        <nz-option *ngFor="let grade of allGrades" [nzValue]="grade.id" [nzLabel]="grade.name"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <!----------        Responsible data       ---------->
    <div nz-row [nzGutter]="24">
        <nz-divider nzText="Responsable" nzOrientation="left"></nz-divider>
        <!-- Firstname -->
        <div nz-col nzXs="24" nzLg="11">
            <nz-form-item nzJustify="space-around">
                <nz-form-label>Nombre</nz-form-label>
                <nz-form-control [nzErrorTip]="responsibleFirstnameErrors">
                    <input nz-input formControlName="responsibleFirstname" placeholder="Nombre" />
                    <ng-template #responsibleFirstnameErrors let-control>
                        <ng-container *ngIf="control.hasError('maxlength')">La longitud máxima es de 128 caracteres
                        </ng-container>
                        <ng-container *ngIf="control.hasError('required')">El nombre es requerido</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Lastname -->
        <div nz-col nzXs="24" nzLg="11">
            <nz-form-item nzJustify="space-around">
                <nz-form-label>Apellido</nz-form-label>
                <nz-form-control [nzErrorTip]="responsibleLastnameErrors">
                    <input nz-input formControlName="responsibleLastname" placeholder="Apellido" />
                    <ng-template #responsibleLastnameErrors let-control>
                        <ng-container *ngIf="control.hasError('maxlength')">La longitud máxima es de 128 caracteres
                        </ng-container>
                        <ng-container *ngIf="control.hasError('required')">El apellido es requerido</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Email -->
        <div nz-col nzXs="24" nzLg="11">
            <nz-form-item nzJustify="space-around">
                <nz-form-label>Correo electrónico</nz-form-label>
                <nz-form-control [nzErrorTip]="responsibleEmailErrors">
                    <input nz-input formControlName="responsibleEmail" placeholder="Correo electrónico" type="email" />
                    <ng-template #responsibleEmailErrors let-control>
                        <ng-container *ngIf="control.hasError('maxlength')">La longitud máxima es de 128 caracteres
                        </ng-container>
                        <ng-container *ngIf="control.hasError('required')">El correo electrónico es requerido
                        </ng-container>
                        <ng-container *ngIf="control.hasError('pattern')">Ingrese un correo electrónico valido
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Phone number -->
        <div nz-col nzXs="24" nzLg="11">
            <nz-form-item nzJustify="space-around">
                <nz-form-label>Número de teléfono</nz-form-label>
                <nz-form-control [nzErrorTip]="responsiblePhoneErrors">
                    <input nz-input formControlName="responsiblePhone" placeholder="Número teléfonico" type="email" />
                    <ng-template #responsiblePhoneErrors let-control>
                        <ng-container *ngIf="control.hasError('required')">El número de teléfono es requerido
                        </ng-container>
                        <ng-container *ngIf="control.hasError('pattern')">Ingrese un número de teléfono valido (ej.
                            2222-2222)
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Kinship relationship -->
        <div nz-col nzXs="24" nzLg="11">
            <nz-form-item nzJustify="space-around">
                <nz-form-label [nzSpan]="5" nzFor="responsibleRelationship">Parentesco</nz-form-label>
                <nz-form-control [nzSpan]="12" nzErrorTip="El parentesco es requerido">
                    <nz-select id="responsibleRelationship" nzShowSearch nzAllowClear  formControlName="responsibleRelationship" nzPlaceHolder="Seleccionar">
                        <nz-option *ngFor="let relation of kinshipRelationships" [nzValue]="relation" [nzLabel]="relation"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <!-- Actions -->
    <nz-form-item nzJustify="space-around" id="btn-permission">
        <nz-form-control [nzSpan]="2">
            <div id="new-user">
                <button nz-button nzType="primary" [nzLoading]="btnLoading">Crear estudiante</button>
            </div>
        </nz-form-control>
    </nz-form-item>
</form>