ejs-schedule {
    display: none;
}

.param a {
    color: rgba(0, 0, 0, 0.65);
}

.param, .param-key, .param-value {
    float: left;
}

.param {
    margin: 10px;
}

.param-value {
    margin:  -5px 0 0 5px;
}

.param-value i {
    font-size: 11px;
}

.caret-down {
    margin-top: -12px;
}

.ant-btn:not(.ant-btn-icon-only) {
    min-width: 50px;
}