<h1>Prueba sociométrica</h1>

<nz-spin nzTip="Cargando ..." [nzSpinning]="loading">
    <div nz-row>
        <div nz-col [nzXs]="24" [nzMd]="{ span: 22, offset: 2 }">
            <span class="principal">{{ test.sociometricTest.grade.name }} {{ test.sociometricTest.section.name }}</span>
            <h3>{{ test.student.firstname }} {{ test.student.lastname }}</h3>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzXs="24" nzMd="2">
            <ng-container *ngFor="let question of questions">
                <div
                    [ngClass]="{'completed': question.status === 'Completed', 'current': question.status === 'Current', 'incomplete': question.status === 'Incomplete'}">
                {{ question.sequentialNumber + 1 }}
                </div>
            </ng-container>
        </div><br>
        <div nz-col nzXs="24" nzMd="22">
            <div nz-row>
                <span><span class="question-number">{{ currentQuestion.sequentialNumber + 1 }}.</span> {{ currentQuestion.text }}</span>
            </div>
            
            <div nz-row nzJustify="center" [nzGutter]="[16, 16]">
                <div nz-col class="gutter-row" class="student" *ngFor="let student of currentQuestion.students">
                    <a nz-row nzJustify="center" (click)="selectStudent(student)">
                        <nz-badge [nzCount]="student.position" [nzOffset]="[-10, 8]" [nzStyle]="{ backgroundColor: '#ef6c00' }">
                            <ng-container *ngIf="student.currentPhoto; else defaultPhoto">
                                <nz-avatar [ngClass]="{'selected': student.position != 0}" [nzSize]="75" [nzSrc]="student.currentPhoto['path']"></nz-avatar>
                            </ng-container>
                            <ng-template #defaultPhoto>
                                <nz-avatar [ngClass]="{'selected': student.position != 0}" [nzSize]="75" nzIcon="user"></nz-avatar>
                            </ng-template>
                        </nz-badge>
                    </a>
                    <p class="student-name">{{ student.firstname }}</p>
                </div>
            </div>
        </div>
    </div>

    <div nz-row nzJustify="center">
        <!-- Steps actions -->
        <div class="steps-action">
            <button nz-button nzGhost nzType="primary" (click)="prev()" *ngIf="currentQuestion.sequentialNumber > 0">
                <span>Previa</span>
            </button>
            <button nz-button nzGhost nzType="primary" (click)="next()"
                *ngIf="currentQuestion.sequentialNumber < questions.length - 1">
                <span>Siguiente</span>
            </button>
            <button nz-button nzType="primary" (click)="done()"
                *ngIf="currentQuestion.sequentialNumber === questions.length - 1">
                <span>Finalizar</span>
            </button>
        </div>
    </div>
</nz-spin>