<!--  
  Path: app/main-nav/main-nav.component.html
  Objective: Define main navigation view
  Author: Esme López y Veronica Reyes
-->

<nz-layout class="app-layout">
  <nz-sider *ngIf="!!getToken()" class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a>
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>SIAPCE</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Inicio</a>
          </li>
        </ul>
      </li>

      <div *ngFor="let option of menuOptions">
        <li *ngIf="option.allow" nz-submenu [nzTitle]="option.title" [nzIcon]="option.icon">
          <ul>
            <li *ngFor="let subOption of option.children" nz-menu-item nzMatchRouter>
              <a [routerLink]="subOption.route">{{ subOption.name }}</a>
            </li>
          </ul>
        </li>
      </div>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-page-header [nzGhost]="false" *ngIf="!!getToken()">
      <nz-page-header-tags>
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </nz-page-header-tags>
      <nz-page-header-extra>
        <span class="user">
          <a nz-dropdown [nzDropdownMenu]="menu">
            {{username}}
            <i nz-icon nzType="down"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item routerLink='/contrasena/cambiar'> Cambiar contraseña</li>
            </ul>
            <ul nz-menu>
              <li nz-menu-item (click)='logoutClicked()'> Cerrar sesión</li>
            </ul>
          </nz-dropdown-menu>
          <nz-avatar nzText="{{avatar}}" style="color: #f56a00; background-color: #fde3cf;"></nz-avatar>
        </span>

      </nz-page-header-extra>
    </nz-page-header>

    <nz-content [ngClass]="(!!getToken())?'inner-content':''">
      <div>
        <router-outlet></router-outlet>
      </div>
    </nz-content>

    <nz-footer nz-row nzJustify="center" nzAlign="middle">
      <div nzcol>
        <p class="height-100">
          <img src="./assets/Minerva.png" alt="Universidad de El Salvador">
        </p>
      </div>
      <div nzcol>
        <span> {{ year }} Universidad de El Salvador </span>
        <p> Todos los derechos reservados. </p>
      </div>
    </nz-footer>
  </nz-layout>
</nz-layout>