.addStudent {
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 3px;
}

.error {
  color: #f5222d;
}

.results {
  margin: 5px;
}

.dateTimePicker {
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 10px;
  padding-left: 3px;
}

.addEmployee {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
}


.searchSelection {
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 3px;
}