<!-- [eventSettings]="eventSettings" [currentView]='currentView' -->
<ejs-schedule [currentView]="newViewMode" [selectedDate]="selectedDate"  timezone="America/El_Salvador" locale='es-SV' [eventSettings]="eventData">
    <!-- <e-views>
        <e-view option="Day"></e-view>
        <e-view option="Week"></e-view>
        <e-view option="WorkWeek"></e-view>
        <e-view option="Month"></e-view>
        <e-view option="Angenda"></e-view>
    </e-views> -->
</ejs-schedule>
<link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet"/>
