<ejs-schedule #scheduleObj heigth='500px' (popupOpen)='onPopupOpen($event)' [currentView]="newViewMode"
    (actionBegin)="onActionBegin($event)" [views]='views' [selectedDate]="selectedDate" timezone="America/El_Salvador"
    locale='es' [eventSettings]="eventData">
    <ng-template #editorTemplate let-data>
        <!-- <form class="custom-event-editor" nz-form [formGroup]="userForm">  -->
        <!-- (ngSubmit)="submitForm()"-->
        <table class="custom-event-editor" width="100%" cellpadding="5">
            <tbody>
                <div colspan="4" cellpadding="5">
                    <label class="e-textlabel">Asunto</label>
                    <input id="Subject" class="e-field e-input" type="text" value="{{data.Subject}}" name="Subject"
                        style="width: 100%" />
                </div>
                <div colspan="4">
                    <label class="e-textlabel">Tipo de entrevista</label>
                    <ejs-dropdownlist id='EventType' class="e-field" data-name="EventType"
                        placeholder='Seleccione el tipo de entrevista' [dataSource]='EventData' [fields]='eventFields'
                        value='{{data.EventType}}'>
                    </ejs-dropdownlist>
                </div>
                <div colspan="4">
                    <label class="e-textlabel">Lugar</label>
                    <input id="Location" class="e-field e-input" type="text" value="{{data.Location}}" name="Location"
                        style="width: 100%" />
                </div>
                <div colspan="4">
                    <label class="e-textlabel">Inicio</label>
                    <input id="StartTime" class="e-field" type="text" name="StartTime" />
                </div>
                <div colspan="4">
                    <label class="e-textlabel">Fin</label>
                    <input id="EndTime" class="e-field" type="text" name="EndTime" />
                </div>
                <!-- NgIf condition-->
                <div *ngIf="show; else elseBlock">

                </div>
                <!-- Else condition -->
                <ng-template #elseBlock>
                    <div colspan="4">
                        <label class="e-textlabel">Inicio</label>
                        <ejs-datetimepicker id="StartTime" class="e-field" data-name="StartTime" locale='es'
                            format="M/dd/yy h:mm a" [value]="dateParser(data.startTime || data.StartTime)">
                        </ejs-datetimepicker>
                    </div>


                    <div colspan="4">
                        <label class="e-textlabel">Fin</label>
                        <ejs-datetimepicker id="EndTime" class="e-field" data-name="EndTime" locale='es'
                            format="M/dd/yy h:mm a" [value]="dateParser( data.endTime || data.EndTime)">
                        </ejs-datetimepicker>
                    </div>

                </ng-template>
                <!-- <label nz-checkbox [(ngModel)]="IsAllDay" (ngModelChange)="allDayEvent()">Evento de todo el dia</label> -->

                
                <!-- <div colspan="4">  
                    <ejs-recurrenceeditor #recurrenceObj (change)="onChange($event)" id="RecurrenceRule"
                     class="e-field" name="RecurrenceRule" data-name="RecurrenceRule" [value]="data.RecurrenceRule" locale='es' ></ejs-recurrenceeditor>
                </div>   -->
                <div colspan="4">
                    <label class="e-textlabel">Frecuencia del evento</label>
                    <div #recurrenceObj id='RecurrenceEditor'></div>
                </div>  

                <div colspan="4">
                    <label class="e-textlabel">Descripcion</label>

                    <textarea id="Description" class="e-field e-input" value="{{data.Description}}" name="Description"
                        rows="3" cols="50" style="width: 100%; height: 60px !important; resize: vertical"></textarea>
                </div>

                <!-- </form> -->

            </tbody>
        </table>
    </ng-template>
    <!-- <e-views>
        <e-view option="Day"></e-view>
        <e-view option="Week"></e-view>
        <e-view option="Month"></e-view>
        <e-view option="Angenda"></e-view>
    </e-views>  -->
</ejs-schedule>