::ng-deep .ant-layout {
    background-color: white;
    color: black;
}

.ant-card-body {
    width: 791px;
    background-color: white;
    margin: 0 auto;
    padding: 50px;
}

.document-institution {
    margin-bottom: 0px;
    line-height: 25px;
}

.text-blue {
    color: rgb(0, 82, 136);
}

.text-blue-light {
    color: rgb(50, 116, 159);
}

.student-data {
    height: 100%;
}

.logo {
    height: 85px;
}

p {
    margin-bottom: 10px;
    text-align: justify;
}

.main-divider {
    height: 2px;
    background-color: rgb(0, 82, 136);
    margin-top: 5px;
}

.section-divider {
    height: 2px;
    margin-top: 25px;
    margin-bottom: 15px
}

:host >>> .ant-divider-horizontal.ant-divider-with-text-center::before, :host >>> .ant-divider-horizontal.ant-divider-with-text-center::after {
    border-top-color: rgb(0, 82, 136);
}

.title {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.signatures {
    margin-top: 100px;
}

.signature-divider {
    background-color: black;
    margin-bottom: 5px;
    height: 1px;
}