<nz-spin nzTip="Cargando ..." [nzSpinning]="loading">
    <nz-tabset nzTabPosition="left" [nzType]="'line'">
        <nz-tab *ngFor="let item of items" [nzTitle]="item.shift.name">
            <div nz-row nzJustify="center">
                <div class="counselor" nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="10" nzXl="8" *ngFor="let counselor of item.counselors">
                    <p>{{counselor.fullname}}:</p>
                    <nz-select nzMode="tags" nzPlaceHolder="Asignar grados" [(ngModel)]="counselor.grades" [compareWith]="compareFn" (ngModelChange)="onChange(item, counselor, $event)">
                        <ng-container *ngFor="let grade of item.grades">
                            <nz-option [nzHide]="!grade.active" [nzLabel]="grade.name" [nzValue]="grade">{{grade.name}}</nz-option>
                        </ng-container>
                    </nz-select>
                </div>
            </div>
        </nz-tab>
    </nz-tabset>
</nz-spin>
