<div nz-row nzJustify="space-around">
    <nz-collapse nz-col nzXs="24" nzMd="14">
        <!-- Cycles, grades and sections -->
        <nz-collapse-panel nzHeader="Ciclos, grados y secciones" [nzActive]="true">
            <dl *ngFor="let shift of assignation['shifts']">
                <dt>{{ shift.shift.name }}</dt>
                <dd>Ciclos: </dd>
                <ul>
                    <li *ngFor="let cycle of shift.shift.cycles"> 
                        {{ cycle.cycle.name }}
                        <ul>
                            <li *ngFor="let grade of cycle.gradeDetails">
                                {{ grade.grade.name }}: 
                                <span *ngFor="let section of grade.sectionDetails; last as isLast ">
                                    {{ section.section.name }}
                                    <span *ngIf="!isLast">, </span>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
              </dl>
        </nz-collapse-panel>
    
        <!-- Cycle coordinators -->
        <nz-collapse-panel nzHeader="Coordinadores de ciclo" [nzActive]="true">
            <dl *ngFor="let shift of assignation['shifts']">
                <dt>{{ shift.shift.name }}</dt>
                <ng-container *ngFor="let cycle of shift.shift.cycles">
                    <dd>{{ cycle.cycle.name }}: {{ cycle.cycleCoordinator.firstname }} {{ cycle.cycleCoordinator.lastname }}</dd>
                </ng-container>
            </dl>
        </nz-collapse-panel>
    
        <!-- Head teachers -->
        <nz-collapse-panel nzHeader="Docentes" [nzActive]="true">
            <nz-collapse class="headteachers" [nzBordered]="false">
                <nz-collapse-panel *ngFor="let shift of assignation['shifts']" [nzHeader]="shift.shift.name">
                  <dl *ngFor="let cycle of shift.shift.cycles">
                      <dt>{{ cycle.cycle.name }}</dt>
                      <dd>
                          <ul>
                              <li *ngFor="let grade of cycle.gradeDetails">
                                  {{ grade.grade.name }}:
                                  <ul>
                                      <li *ngFor="let section of grade.sectionDetails">
                                          {{ section.section.name }} : {{ section.teacher?.firstname }} {{ section.teacher?.lastname }}
                                      </li>
                                  </ul>
                              </li>
                          </ul>
                      </dd>
                  </dl>
                </nz-collapse-panel>
              </nz-collapse>
        </nz-collapse-panel>
    
        <!-- Counselors -->
        <nz-collapse-panel nzHeader="Orientadores" [nzActive]="true">
            <dl *ngFor="let item of shiftCounselors">
                <dt>{{ item.shift.name }}</dt>
                <ng-container *ngFor="let counselor of item.counselors">
                    <dd>{{ counselor.firstname }} {{ counselor.lastname }}:
                        <ul>
                            <li *ngFor="let grade of counselor.grades">
                                {{ grade.name }}
                            </li>
                        </ul>
                    </dd>
                </ng-container>
            </dl>
        </nz-collapse-panel>
    </nz-collapse>
</div>
