<nz-tabset nzTabPosition="left" [nzType]="'line'">
    <!-- Cycles, grades and sections -->
    <nz-tab nzTitle="Ciclos, grados y secciones">
        <div nz-row nzJustify="center">
            <div class="shift" *ngFor="let shift of assignation['shifts']" nz-col nzXs="23" nzSm="23" nzMd="11" nzXl="7"
                nzOffset="1">
                <h3>{{ shift.shift.name }}</h3>
                <ul>
                    <li *ngFor="let cycle of shift.shift.cycles">
                        <h4>{{ cycle.cycle.name }}</h4>
                        <ul>
                            <li *ngFor="let grade of cycle.gradeDetails">
                                {{ grade.grade.name }}:
                                <span class="principal" *ngFor="let section of grade.sectionDetails; last as isLast ">
                                    {{ section.section.name }}
                                    <span *ngIf="!isLast">, </span>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nz-tab>

    <!-- Cycle coordinators -->
    <nz-tab nzTitle="Coordinadores de ciclo">
        <div nz-row nzJustify="center">
            <div class="shift" *ngFor="let shift of assignation['shifts']" nz-col nzXs="23" nzSm="23" nzMd="11" nzXl="7" nzOffset="1">
                <h3>{{ shift.shift.name }}</h3>
                <ng-container *ngFor="let cycle of shift.shift.cycles">
                    <dd class="cycle">
                        <h4>{{ cycle.cycle.name }}:</h4>
                        {{ cycle.cycleCoordinator.firstname }} {{ cycle.cycleCoordinator.lastname }}
                    </dd>
                </ng-container>
            </div>
        </div>
    </nz-tab>

    <!-- Head teachers -->
    <nz-tab nzTitle="Docentes titulares">
        <div nz-row nzJustify="center">
            <div *ngFor="let shift of assignation['shifts']" nz-col nzXs="23" nzSm="23" nzMd="11" nzXl="7" nzOffset="1">
                <nz-collapse [nzBordered]="false">
                    <nz-collapse-panel class="head-teachers" [nzHeader]="shift.shift.name" nzActive="true">
                        <nz-collapse [nzBordered]="false">
                            <nz-collapse-panel *ngFor="let cycle of shift.shift.cycles" [nzHeader]="cycle.cycle.name">
                                <div *ngFor="let grade of cycle.gradeDetails">
                                    <h4>{{ grade.grade.name }}:</h4>
                                    <p *ngFor="let section of grade.sectionDetails">
                                        <span class="principal">{{ section.section.name }}: </span>
                                        {{ section.teacher?.firstname }} {{ section.teacher?.lastname }}
                                    </p>
                                </div>
                            </nz-collapse-panel>
                        </nz-collapse>
                    </nz-collapse-panel>
                </nz-collapse>
            </div>
        </div>
    </nz-tab>

    <!-- Counselors -->
    <nz-tab nzTitle="Orientadores">
        <div nz-row nzJustify="center">
            <div class="shift" *ngFor="let item of shiftCounselors" nz-col nzXs="23" nzSm="23" nzMd="11" nzXl="7" nzOffset="1">
                <h3>{{ item.shift.name }}</h3>
                <ng-container *ngFor="let counselor of item.counselors">
                    <dd class="cycle">
                        <!-- <dd> -->
                            <h4>{{ counselor.firstname }} {{ counselor.lastname }}:</h4>
                            <ul>
                                <li *ngFor="let grade of counselor.grades">
                                    {{ grade.name }}
                                </li>
                            </ul>
                        <!-- </dd> -->
                    </dd>
                </ng-container>
            </div>
        </div>
    </nz-tab>
</nz-tabset>