<form nz-form nzLayout="vertical" [formGroup]="expedientForm">

    <div nz-row nzJustify="center" [nzGutter]="30">
        <!-- Refferer and reason -->
        <div nz-col nzXs="24" nzLg="12">
            <div nz-row>

                <!-- referrerName -->
                <div nz-col nzXs="24">
                    <nz-form-item>
                        <nz-form-label><strong>Persona que refiere</strong></nz-form-label>
                        <nz-form-control [nzErrorTip]="referrerNameErrors">
                            
                            <input nz-input formControlName="referrerName" placeholder="Referido por" />

                            <ng-template #referrerNameErrors let-control>
                                <ng-container *ngIf="control.hasError('required')">La persona que refiere es requerida<br></ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!-- Reason -->
                <div nz-col nzXs="24">
                    <nz-form-item>
                        <nz-form-label><strong>Motivo de la referencia</strong></nz-form-label>
                        <nz-form-control [nzErrorTip]="reasonErrors">
                            
                            <textarea nz-input formControlName="reason" placeholder="Motivo de la referencia"></textarea>

                            <ng-template #reasonErrors let-control>
                                <ng-container *ngIf="control.hasError('required')">El motivo de la referencia es requerido<br></ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>

            </div>
        </div>  

        <!-- Problem description -->
        <div nz-col nzXs="24" nzLg="12">
            <div nz-row>
                <div nz-col nzXs="24">
                    <nz-form-item>
                        <nz-form-label><strong>Descripción de la problemática</strong></nz-form-label>
                        <nz-form-control [nzErrorTip]="problemDescriptionErrors">
                            
                            <textarea nz-input formControlName="problemDescription" placeholder="Descripción de la problemática" rows="6"></textarea>

                            <ng-template #problemDescriptionErrors let-control>
                                <ng-container *ngIf="control.hasError('required')">La descripción de la problemática es requerida<br></ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </div>  
    </div>

    <div nz-row nzJustify="center" [nzGutter]="30">
        <!-- diagnosticImpression -->
        <div nz-col nzXs="24" nzLg="12">
            <div nz-row>

                <!-- Categories -->
                <div nz-col nzXs="24">
                    <nz-form-item>
                        <nz-form-label><strong>Impresión diagnóstica</strong></nz-form-label>
                        <nz-form-control>
                            <nz-select nzMode="multiple" formControlName="diagnosticImpressionCategories" nzPlaceHolder="Seleccionar" [nzDropdownMatchSelectWidth]="false" (ngModelChange)="onDiagnosticImpressionCategoryChange($event)">
                                <ng-container *ngFor="let category of diagnosticImpressionCategories">
                                    <nz-option [nzLabel]="category" [nzValue]="category"></nz-option>
                                </ng-container>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!-- Other category -->
                <div nz-col nzXs="24" *ngIf="showOtherDiagnosticImpressionCategory">
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="otherCategoryErrors">
                            
                            <input nz-input formControlName="otherDiagnosticImpressionCategory" placeholder="Otra categoría" />

                            <ng-template #otherCategoryErrors let-control>
                                <ng-container *ngIf="control.hasError('required')">Este campo es requerido<br></ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!-- diagnosticImpression -->
                <div nz-col nzXs="24">
                    <nz-form-item>
                        <nz-form-control>
                            <textarea nz-input formControlName="diagnosticImpression" placeholder="Análisis de la impresión diagnóstica" rows="4"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>

            </div>
        </div>  

        <!-- External treatments and action plan -->
        <div nz-col nzXs="24" nzLg="12">
            <div nz-row>
                
                <!-- Treatments -->
                <div nz-col nzXs="24">
                    <nz-form-item>
                        <nz-form-label><strong>Tratamientos psicológicos externos</strong></nz-form-label>
                        <nz-form-control>
                            <nz-select nzMode="multiple" formControlName="externalPsychologicalTreatments" nzPlaceHolder="Seleccionar" [nzDropdownMatchSelectWidth]="false" (ngModelChange)="onExternalPsychologicalTreatmentChange($event)">
                                <ng-container *ngFor="let treatment of psychologicalTreatmentTypes">
                                    <nz-option [nzLabel]="treatment" [nzValue]="treatment"></nz-option>
                                </ng-container>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!-- Other treatment -->
                <div nz-col nzXs="24" *ngIf="showOtherExternalPsychologicalTreatment">
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="otherTreatmentErrors">
                            
                            <input nz-input formControlName="otherExternalPsychologicalTreatment" placeholder="Otro tratamiento" />

                            <ng-template #otherTreatmentErrors let-control>
                                <ng-container *ngIf="control.hasError('required')">Este campo es requerido<br></ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!-- actionPlan -->
                <div nz-col nzXs="24">
                    <nz-form-item>
                        <nz-form-label><strong>Plan de acción</strong></nz-form-label>
                        <nz-form-control>
                            <textarea nz-input formControlName="actionPlan" placeholder="Plan de acción"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </div>  
    </div>
</form>

<!-- Actions -->
<div nz-row nzJustify="center" [nzGutter]="40">
    <div nz-col *ngIf="!expedient">
        <label nz-checkbox [(ngModel)]="createSession">
            Registrar primera sesión
        </label>
    </div>
</div>

<div nz-row nzJustify="center" [nzGutter]="40">
    <div nz-col *ngIf="expedient">
        <button nz-button nzType="default" [nzLoading]="actionLoading" (click)="onCancel()">
            Cancelar
        </button>
    </div>    
    <div nz-col>
        <button nz-button nzType="primary" [nzLoading]="actionLoading" (click)="submitForm()">
            {{expedient ? 'Actualizar' : 'Abrir expediente'}}
        </button>
    </div>
</div>

<!-- Create session modal -->
<nz-modal [(nzVisible)]="showModal" nzTitle="Seleccione el tipo de entrevista" [nzContent]="modalContent"
    nzOkText="Continuar" nzCancelText="Cancelar" (nzOnOk)="saveExpedientWithSession()" (nzOnCancel)="showModal = false">
    <!-- Modal content -->
    <ng-template #modalContent>
        <!-- Event type -->
        <div nz-row nzJustify="center">
            <div nz-col nzXs="24" nzMd="18">
                <nz-input-group>
                    <nz-select [(ngModel)]="sessionType">
                        <!-- The value of the option is the route to the form component -->
                        <nz-option nzValue="" nzLabel="Seleccionar..." [nzDisabled]="true"></nz-option>
                        <nz-option nzValue="sesion-individual" nzLabel="Sesión individual"></nz-option>
                        <nz-option nzValue="entrevista-docente" nzLabel="Entrevista con docente"></nz-option>
                        <nz-option nzValue="entrevista-responsable" nzLabel="Entrevista con padres de familia"></nz-option>
                    </nz-select>
                </nz-input-group>
            </div>
        </div>
    </ng-template>
</nz-modal>
