@media only screen and (max-width: 991px) {
  #new-section {
     /* margin-top: 15px; */
     margin-right: 15px;
  }
}

.save {
   margin-right: 8px;
}

.action-style {
  padding: 2px;
}

.sections {
  margin-top: 25px;
}
