/* Background */
.test-background-image {
  background-image: url('../../../../assets/back-to-school-wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
  color: white;
}

.test-background-color {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
}

.test-background {
  background-color: transparent;
  border: none;
  text-align: center;
}

form {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 25px;
}

.ant-input-group > .ant-input:first-child {
    border-radius: 7px;
}

/* Test */
.title {
  background-color: #0088CD;
  color: #ffffff;
  padding: 20px;
}

.title h2 {
  color: #ffffff;
}

.student {
  text-align: right;
}
.name {
  margin-top: -15px;
}

.test {
  color: #000000;
  background-color: #ffffff;
  padding: 25px;
}

.completed {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background: #ef6c00;
  border: 3px solid #ef6c00;
  color: #ffffff;
  text-align: center;
  font-size: 1em;
  padding-top: 1px;
  margin-bottom: 5px;
}

.incomplete {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background: #cccccc;
  border: 3px solid #cccccc;
  color: #ffffff;
  text-align: center;
  font-size: 1em;
  padding-top: 1px;
  margin-bottom: 5px;
}

.current {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background: #fd9727;
  border: 3px solid #fd9727;
  color: #ffffff;
  text-align: center;
  font-size: 1em;
  padding-top: 1px;
  margin-bottom: 5px;
}

.question-number {
  color: #ef6c00;
  font-weight: 500;
  font-size: 1.3em;
}

.selected {
  border: 5px solid #ef6c00;
}

student {
  margin: auto;
}

.student-name {
  text-align: center;
}

.steps-action button {
  margin-right: 10px;
}