<div nz-row nzJustify="space-between">
    <div nz-col>
        <h1>Historiales académicos y conductuales</h1>
    </div>
</div>

<nz-spin [nzSpinning]="loadingSearchLists" nzTip="Cargando...">
<div nz-row [nzGutter]="[10, 10]">
    <!-- Code -->
    <div nz-col nzXs="24" nzSm="12" nzLg="6">
        <label>NIE: </label>
        <nz-input-group [nzSuffix]="inputClearCode">
            <input nz-input [(ngModel)]="searchParams.code" placeholder="Buscar NIE" />
        </nz-input-group>
        <ng-template #inputClearCode>
            <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="searchParams.code" (click)="searchParams.code = null; getHistory(null)"></i>
        </ng-template>
    </div>

    <!-- Name -->
    <div nz-col nzXs="24" nzSm="12" nzLg="9">
        <label>Nombre: </label>
        <nz-input-group [nzSuffix]="inputClearName">
            <input nz-input [(ngModel)]="searchParams.firstname" placeholder="Buscar nombre" />
        </nz-input-group>
        <ng-template #inputClearName>
            <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="searchParams.firstname" (click)="searchParams.firstname = null; getHistory(null)"></i>
        </ng-template>
    </div>

    <!-- Lastname -->
    <div nz-col nzXs="24" nzSm="12" nzLg="9">
        <label>Apellido: </label>
        <nz-input-group [nzSuffix]="inputClearLastname">
            <input nz-input [(ngModel)]="searchParams.lastname" placeholder="Buscar apellido" />
        </nz-input-group>
        <ng-template #inputClearLastname>
            <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="searchParams.lastname" (click)="searchParams.lastname = null; getHistory(null)"></i>
        </ng-template>
    </div>

    <!-- Shift -->
    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8" nzXl="7">
        <label>Turno: </label>
        <nz-input-group>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seleccionar turno"
                [(ngModel)]="searchParams.shift.id"  (ngModelChange)="onChangeShift($event);">
                <nz-option *ngFor="let shift of shifts" [nzLabel]="shift.name" [nzValue]="shift.id"></nz-option>
            </nz-select>
        </nz-input-group>
    </div>

    <!-- Grade -->
    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8" nzXl="7">
        <label>Grado: </label>
        <nz-input-group>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seleccionar grado"
                [(ngModel)]="searchParams.grade.id" (ngModelChange)="onChangeGrade($event);">
                <nz-option *ngFor="let grade of grades" [nzLabel]="grade.name" [nzValue]="grade.id"></nz-option>
            </nz-select>
        </nz-input-group>
    </div>

    <!-- Section -->
    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8" nzXl="7">
        <label>Sección: </label>
        <nz-input-group>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seleccionar sección"
                [(ngModel)]="searchParams.section.id" (ngModelChange)="getHistory(null)">
                <nz-option *ngFor="let section of sections" [nzLabel]="section.name" [nzValue]="section.id"></nz-option>
            </nz-select>
        </nz-input-group>
    </div>

    <!-- Search button-->
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="24" nzXl="3">
      <div class="btn-container" nz-row nzAlign="bottom" nzJustify="end">
        <button nz-button nzType="primary" (click)="getHistory(null)">Buscar</button>
      </div>
    </div>
</div>
</nz-spin>

<div nz-row>
    <div nz-col nzSpan="24">
        <nz-spin nzTip="Cargando ..." [nzSpinning]="loading">
            <nz-table #filterTable
                [nzData]="listOfDisplayData"
                nzTableLayout="fixed"
                [nzFrontPagination]="false"
                [nzTotal]="pagination.totalItems"
                [nzPageSize]="pagination.perPage"
                [nzPageIndex]="pagination.page"
                nzSize="small"
                (nzQueryParams)="getHistory($event)"
            >
                <thead>
                    <tr>
                        <th nzColumnKey="code" [nzSortFn]="true" [nzSortPriority]="1">NIE</th>
                        <th nzColumnKey="firstname" [nzSortFn]="true" [nzSortPriority]="2">Nombres</th>
                        <th nzColumnKey="lastname" [nzSortFn]="true" [nzSortPriority]="3">Apellidos</th>
                        <th nzColumnKey="currentGrade" [nzSortFn]="true" [nzSortPriority]="4">Grado</th>
                        <th nzColumnKey="name" [nzSortFn]="true" [nzSortPriority]="5">Sección</th>
                        <th nzColumnKey="annotationsCounter" [nzAlign]="'center'">Anotaciones</th>
                        <th nzColumnKey="sanctionsCounter" [nzAlign]="'center'">Sanciones</th>
                        <th [nzAlign]="'center'">Acción</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let data of filterTable.data">
                        <td>{{data.code}}</td>
                        <td>{{data.firstname}}</td>
                        <td>{{data.lastname}}</td>
                        <td>{{data.currentGrade.name}}</td>
                        <td>{{data.currentSection.name || '-'}}</td>
                        <td [nzAlign]="'center'">{{data.annotationsCounter}}</td>
                        <td [nzAlign]="'center'">{{data.sanctionsCounter}}</td>
                        <td [nzAlign]="'center'">
                            <a [routerLink]="[data.id]"><i nz-icon nzType="eye" nzTheme="outline"></i></a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-spin>
    </div>
</div>