<h1>Roles</h1>

<div class="search-bar" nz-row>
    <div nz-col [nzXs]="{ span: 24 }" [nzSm]="{ span: 24 }"  [nzMd]="{ span: 24}" [nzLg]="{ span: 8, offset: 6 }">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input placeholder="Buscar rol" [(ngModel)]="searchValue"/>
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzType="{{color}}" nzSearch (click)="search()"><i nz-icon nzType="{{icon}}"></i></button>
        </ng-template>
    </div>
    
    <div  *ngIf="checkPermission(6)" id="new-role" nz-col [nzXs]="{ span: 1, offset: 7 }" [nzSm]="{ span: 1, offset: 7 }"  [nzMd]="{ span: 2, offset: 11 }" [nzLg]="{ span: 1, offset: 1 }">
        <button nz-button nzType="primary" routerLink="/roles/0">Crear rol</button>
    </div>
</div>

<div class="roles" nz-row>
    <div nz-col [nzXs]="{ span: 24 }" [nzSm]="{ span: 24 }"  [nzMd]="{ span: 24 }" [nzLg]="{ span: 20, offset: 2 }" [nzXl]="{ span: 16, offset: 4 }">
        <nz-spin nzTip="Cargando ..." [nzSpinning]="loading">
            <nz-table #filterTable 
                [nzData]="listOfDisplayData" 
                nzTableLayout="fixed"
                [nzFrontPagination]="false"
                [nzTotal]="pagination.totalItems"
                [nzPageSize]="pagination.perPage"
                [nzPageIndex]="pagination.page"
                [nzSize]="tableSize"
                (nzQueryParams)="recharge($event)"
            >
                <thead>
                    <tr>
                        <th nzColumnKey="name" [nzSortFn]="true">Rol</th>
                        <th *ngIf="checkPermission(7) || checkPermission(8) || checkPermission(9)">Acción</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let data of filterTable.data">
                        <td>{{ data.name }}</td>
                        <td *ngIf="checkPermission(7) || checkPermission(8) || checkPermission(9)">
                            <span *ngIf="data.id <= 5">
                                <a *ngIf="checkPermission(7)" nz-tooltip nzTooltipTitle="Ver" (click)="getRole(data.id)">
                                    <i nz-icon nzType="eye" nzTheme="outline"></i>
                                </a>
                            </span>

                            <span *ngIf="data.id > 5">
                                <a *ngIf="checkPermission(8)" nz-tooltip nzTooltipTitle="Actualizar" (click)="getRole(data.id)">
                                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                                </a>
                                <nz-divider *ngIf="checkPermission(8) && checkPermission(9)" nzType="vertical"></nz-divider>
                                <a *ngIf="checkPermission(9)" nz-tooltip nzTooltipTitle="Eliminar" (click)="showConfirm(data.id)">
                                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-spin>
    </div>
</div>
