<div nz-row nzJustify="center">
    <div nz-col nzXs="24" nzSm="20" nzMd="22" nzLg="18" nzXl="16">
        <nz-timeline [nzReverse]="true">
            <nz-timeline-item *ngFor="let history of histories">
                <p class="history-year">{{history.behavioralHistoryYear}}</p>
                <div>
                    <p class="expedient-comment">{{history.finalConclusion || 'Sin conclusión final'}}</p>
                    <p class="expedient-author"><strong>Docente:</strong> {{history.author}}</p>
                </div>
                <div *ngFor="let expedient of history.expedients">
                    <p class="expedient-comment">{{expedient.finalConclusion || 'Sin comentario'}}</p>
                    <p class="expedient-author"><strong>Orientador:</strong> {{expedient.author}}</p>
                </div>
            </nz-timeline-item>
        </nz-timeline>
    </div>
</div>
