
.chart-title {
    font-weight: bolder;
    color: black;
}

.chart {
    border: 1px solid #e2e2e2;
    padding: 10px;
    border-radius: 8px;
}

.counters div.chart{
    height: 48%;
}

.counters div.chart:first-child{
    margin-bottom: 4%;
}

.counter {
    text-align: center;
    font-weight: bold;
    font-size: 5em;
    margin: auto;
    padding: 5px;
}