<div nz-row nzJustify="center">
    <div nz-col>
        <img class="logo" src="assets/logo-maristas-color.png" alt="Logo">

        <h1>Bienvenido a SIAPCE</h1>
        <h3 class="principal">Dashboard en proceso de construcción</h3>
    </div>

    <!-- <div nz-col nzSpan="12">
        <div style="display: block;">
            <canvas baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
            </canvas>
          </div>
    </div> -->
</div>
