/*
    Path: styles.css
    Objetive: Define the general style for the app
    Author: Esme López
*/

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#main {
    padding: 25px;
}
