.error {
  color: #f5222d;
}

.success {
  color: #52c41a;
}

.server {
  color: #0050b3;
}

.actions-log {
  margin-top: 25px;
}

.btn-container {
  height: 100%;
}

nz-select, nz-range-picker {
  width: 100%;
}

nz-range-picker {
  border-radius: 7px;
}