.error {
  color: #f5222d;
}

.success {
  color: #52c41a;
}

.server {
  color: #0050b3;
}

.search {
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .search div {
    margin-top: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .date,
  .status-code,
  .action,
  button {
    margin-top: 5px;
  }
}

@media (min-width: 992px) and (max-width: 1147px) {
  .action,
  .date,
  button {
    margin-top: 5px;
  }
}

@media (min-width: 992px) and (max-width: 1077px) {
  button {
    margin-top: 27px;
  }
}

@media (min-width: 1148px) {
  .action,
  .date,
  button {
    margin-top: 5px;
  }
}
