<nz-spin nzTip="Cargando ..." [nzSpinning]="loading">
    <div nz-row class="title">
        <h1>Estudiante</h1>
        <a [routerLink]="['/estudiantes', student.id, 'editar']">
            <i nz-icon nzType="edit" nz-tooltip nzTooltipTitle="Editar" nzTheme="outline"></i>
        </a>
    </div>
    
    <div nz-row>
        <span class="principal">{{ student.code }}</span>
        <span class="status">{{ student.status }}</span>
    </div>
    
    <div nz-row>
        <div nz-col nzXs="24" nzMd="12">
            <nz-divider nzText="Datos personales"></nz-divider>
            <div>
                <strong>Nombre: </strong> <span>{{ student.firstname }} {{ student.lastname }}</span>
            </div>
            <div>
                <strong>Edad: </strong> <span>{{ student.age }}</span>
            </div>
            <div>
                <strong>Correo electrónico: </strong> <span>{{ student.email }}</span>
            </div>
            <div>
                <strong>Año de ingreso: </strong> <span>{{ student.registrationYear }}</span>
            </div>
            <div>
                <strong>Grado de ingreso: </strong> <span>{{ student.startedGrade.name }}</span>
            </div>
        </div>
        <div nz-col nzXs="24" nzMd="12">
            <nz-divider nzText="Promoción"></nz-divider>
            <strong>Curso actual</strong>
            <div>
                <strong>Turno: </strong> <span>{{ student.shift.name }}</span>
            </div>
            <div>
                <strong>Ciclo: </strong> <span>{{ student.cycle?.name || '-'}}</span>
            </div>
            <div>
                <strong>Grado: </strong> <span>{{ student.grade.name }}</span>
            </div>
            <div>
                <strong>Sección: </strong> <span>{{ student.section?.name || '-' }}</span>
            </div>
        </div>
    </div>
    
    <div nz-row>
        <div nz-col nzXs="24" nzMd="12">
            <nz-divider nzText="Responsable"></nz-divider>
            <div *ngFor="let responsible of student.responsibles" class="responsibles">
                <nz-tag [nzColor]="'blue'">{{ responsible.relationship }}</nz-tag>
                <div>
                    <strong>Nombre: </strong> <span>{{ responsible.firstname }} {{ responsible.lastname }}</span>
                </div>
                <div>
                    <strong>Correo electrónico: </strong> <span>{{ responsible.email }}</span>
                </div>
                <div>
                    <strong>Número de celular: </strong> <span>{{ responsible.phone  | slice:0:4 }}-{{ responsible.phone | slice:4:8 }}</span>
                </div>
            </div>
        </div>
        <div nz-col nzXs="24" nzMd="12">
            <nz-divider nzText="Hermanos"></nz-divider>
            <ul type="square" *ngIf="student.siblings.length; else noData">
                <li *ngFor="let sibling of student.siblings">{{ sibling.firstname }} {{ sibling.lastname }} ({{ sibling.status }})</li>
            </ul>
            <ng-template #noData>
                <nz-empty nzNotFoundImage="simple"></nz-empty>
            </ng-template>
        </div>
    </div>
    
    <nz-divider nzText="Fotografías"></nz-divider>
    <div nz-row [nzGutter]="8">
        <ng-container *ngIf="student.images.length; else empty">
            <div nz-col nzSm="8" nzMd="6" nzLg="4" nzXl="3" *ngFor="let img of student.images">
                <nz-card class="yearlyPicture" [nzCover]="coverTemplate">
                    <nz-card-meta [nzTitle]="img.title"></nz-card-meta>
                </nz-card>
                <ng-template #coverTemplate>
                    <img alt="Fotografía de {{img.title}}" [src]="img.image" />
                </ng-template>
            </div>
        </ng-container>
        
        <ng-template #empty>
            <nz-empty></nz-empty>
        </ng-template>
    </div>
</nz-spin>
