<div nz-row>
    <div nz-col nzSm="24" nzMd="6" nzXl="4">
        <h1>Estudiantes</h1>
    </div>
    <div nz-col *ngIf="teacherAssignation.length === 1" class="grade-name">
        {{ teacherAssignation[0].name }}
    </div>
</div>


<!-- Grade -->
<div class="grade" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="9" nzXl="10" class="gutter-row" *ngIf="teacherAssignation.length > 1">
    <label>Grado: </label>
    <nz-select class="grade" nzShowSearch nzAllowClear nzPlaceHolder="Seleccionar grado" [(ngModel)]="currentGrade" (ngModelChange)="getStudents()">
        <nz-option *ngFor="let assignation of teacherAssignation" [nzLabel]="assignation.name" [nzValue]="assignation.ids"></nz-option>
    </nz-select>
</div>

<!-- Tabs -->
<nz-tabset>
    <nz-tab nzTitle="Estudiantes sin asignar" (nzClick)="cleanTab('availables')">
        <!-- Filters -->
        <div nz-col nzXs="24" nzLg="22">
            <div nz-row class="filter" nzJustify="space-around" [nzGutter]="[10, 10]">
                <div nz-col nzXs="22" nzSm="5" nzMd="5" nzLg="4" class="gutter-row text-filter">
                    <span>Filtrar por: </span>
                </div>
                <!-- NIE -->
                <div class="code" nz-col nzXs="22" nzSm="5" nzMd="5" nzLg="5" class="gutter-row">
                    <nz-input-group [nzSuffix]="inputClearCode">
                        <input nz-input [(ngModel)]="searchParams.code" placeholder="NIE" />
                    </nz-input-group>
                    <ng-template #inputClearCode>
                        <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="searchParams.code" (click)="searchParams.code = null; search('availables')"></i>
                    </ng-template>
                </div>
            
                <!-- Name -->
                <div class="name" nz-col nzXs="22" nzSm="5" nzMd="5" nzLg="5" class="gutter-row">
                    <nz-input-group [nzSuffix]="inputClearName">
                        <input nz-input [(ngModel)]="searchParams.firstname" placeholder="Nombre" />
                    </nz-input-group>
                    <ng-template #inputClearName>
                        <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="searchParams.firstname" (click)="searchParams.firstname = null; search('availables')"></i>
                    </ng-template>
                </div>
            
                <!-- Lastname -->
                <div class="lastname" nz-col nzXs="22" nzSm="5" nzMd="5" nzLg="5" class="gutter-row">
                    <nz-input-group [nzSuffix]="inputClearLastname">
                        <input nz-input [(ngModel)]="searchParams.lastname" placeholder="Apellido" />
                    </nz-input-group>
                    <ng-template #inputClearLastname>
                        <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="searchParams.lastname" (click)="searchParams.lastname = null; search('availables')"></i>
                    </ng-template>
                </div>
    
                <!-- Search button-->
                <div class="status" nz-col nzXs="4" nzSm="3" nzMd="3" nzLg="1" class="gutter-row">
                    <button nz-button nzType="primary" (click)="search('availables')"><i nz-icon nzType="search" nzTheme="outline"></i></button>
                </div>
            </div>
        </div>

        <!-- Table -->
        <div nz-row>
            <div nz-col [nzXs]="{ span: 24 }" [nzSm]="{ span: 24 }"  [nzMd]="{ span: 24 }" [nzLg]="{ span: 24 }" [nzXl]="{ span: 22, offset: 1 }">
                <nz-spin nzTip="Cargando ..." [nzSpinning]="loading">
                    <nz-table #filterTable 
                        [nzData]="studentsWithoutAssignation" 
                        nzTableLayout="fixed"
                        nzSize="small"
                        nzShowPagination
                        nzShowSizeChanger
                        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
                    >
                        <thead>
                            <tr>
                                <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
                                <th *ngFor="let column of availableColumns" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{ column.title }}</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr *ngFor="let data of filterTable.data">
                                <td
                                    [nzChecked]="setOfCheckedId.has(data.student.id)"
                                    [nzDisabled]="data.disabled"
                                    (nzCheckedChange)="onItemChecked(data.student.id, $event)"
                                ></td>
                                <td>{{ data.student.code }}</td>
                                <td>{{ data.student.firstname }}</td>
                                <td>{{ data.student.lastname }}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-spin>
            </div>
        </div>
        
        <div class="send-request">
            <button nz-button nzType="primary" [disabled]="setOfCheckedId.size === 0">
              Vincular estudiantes
            </button>
            <span> {{ setOfCheckedId.size }} estudiantes seleccionados</span>
        </div>
    </nz-tab>
    <!-- <nz-tab nzTitle="Estudiantes asignados" (nzClick)="cleanTab('assigned')">
    </nz-tab> -->
    <!-- <nz-tab nzTitle="Mis estudiantes" (nzClick)="cleanTab('my students')">
    </nz-tab> -->
</nz-tabset>